.conference {
    display: block;

    &-themes {
        display: block
    }

    &-container {
        display:block;
        background: url($img-path+'svg/bdxio_pattern.svg') no-repeat, $gradient;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 64px;
        margin-bottom: 40px;

        &-content {
            display: flex;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $white;
                border: 1px solid $white;
                max-height: 300px;
                min-height: 200px;

                img {
                    color: $white;
                    width: 50px;
                    margin-bottom: 4px;
                }
        
                    h6 {
                        font-weight: bold;
                        margin-bottom: 8px; 
                    }
                }

            &-contentBottom {
                 padding: 38px 16px; 
            }
        }
    }
}

.oneLine {
    padding: 58px 16px
}

.twoLines {
    padding: 49px 16px
}

.threeLines {
    padding: 39px 16px
}