.countdown {
  display: flex;
  color: $white;
  text-shadow: 1px 1px rgba(43, 46, 67, 0.5);
  font-weight: bold;
  margin: 20px 0 20px 0;
  max-height: 60px;

  h2 {
    font-weight: bold;
  }

  &-border {
    border-left: 1px solid $white;
    border-right: 1px solid $white;
  }
}
