.countdown {
    display: flex;
    color: $white;
    max-height: 100px;
    font-weight: bold;
    margin: -90px 0 24px 0;

    h2 {
        font-weight: bold;
    }

    &-border {
        border-left: 1px solid $white;
        border-right: 1px solid $white;
    }
}