.footer {
    display: block;
    background : $primary;
    background-image: url($img-path+'svg/bdxio_pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30px 16px;
    margin-top: 64px;

    &-signIn {
        display: flex;  

        input {
            margin: 0 8px 0 16px;
        }

        button {
            margin-bottom: 0; 
            padding: rem-calc(11.5px 10px) !important;
        }
    }

    &-item {
        margin-top: 60px;

        ul {
            display: flex;
            list-style-type: none;
        }
    }
}