.menu {
  position: absolute;
  z-index: 999;
  padding: 0;
  width: 100%;

  &-logo {
    width: 10rem;
  }

  .main-menu {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10rem);

    &-item, &-socialNetwork {
      display: flex;
      list-style-type: none;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      justify-content: space-around;

      .disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          letter-spacing: inherit;
        }
      }

      a {
        color: $white;
        transition: letter-spacing 1s;
        padding: 0 0 4px 0;
        border-bottom: 2px solid transparent;

        &.selected {
          border-bottom: 2px solid white;
        }

        &:hover {
          letter-spacing: .3em;
          transition: letter-spacing .5s;
        }
      }
    }

    &-socialNetwork {
      li {
        padding-left: 8px;

        i {
          font-size: 1.2rem;
        }
      }
    }

    &-liveStream {
      background: $white;
      color: $yellow;
      padding: 8px 16px;
    }

    &-burger {
      width: 36px;
    }
  }
}

.pageHeader {
  // TODO added this BACKGROUND for NEWS page class on link, thank you for adding a link for this commande work //
  background: url($img-path+ 'jpg/header_news.jpg');
  
  // TODO added this BACKGROUND for TEAM page class on link, thank you for adding a link for this commande work 
  // background: url($img-path+ 'jpg/header_team.jpg');
  //

  // TODO added this BACKGROUND for CONTACT page class on link, thank you for adding a link for this commande work 
  // background: url($img-path+ 'jpg/header_contact.jpg');
  //

   // TODO added this BACKGROUND for SPONSOR page class on link, thank you for adding a link for this commande work 
  // background: url($img-path+ 'jpg/header_sponsor.jpg');
  //

  // TODO added this BACKGROUND for SPEAKER page class on link, thank you for adding a link for this commande work 
  // background: url($img-path+ 'jpg/header_speaker.jpg');
  //

  // TODO added this BACKGROUND for FAQ page class on link, thank you for adding a link for this commande work 
  // background: url($img-path+ 'jpg/header_faq.jpg');
  //

  
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 18%;

  h2 {
    position: relative;
    color: $white;
    background: linear-gradient(45deg, rgba($red, 0.4), rgba($yellow, 0.4))
  }

  &-title {
    padding: 0;

    .sectionTitle {
      margin-bottom: 0;
    }
  }
}

