    /* Nous définirons ici le style de notre menu pour les grands écrans (>900px) */ 
.menu {
    padding: 0;
    

    &-logo {
        width: 10%;
    }

    &-item, &-socialNetwork {
         display: flex;
         list-style-type: none;
         margin: 0;
 
         a{
             color: $white;
         }
     }

     &-liveStream {
        background: $white;
        color: $yellow;
        padding: 8px 16px;
    }

    &-burger {
        width: 36px; 
    }
 }

