#loader {
  width: 15rem;
  position: absolute;
  left: calc(50% - 7rem);
  top: calc(50% - 4rem);
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    top:0;
  }   

  .st0 {
    fill: #404041;
  }

  .st1 {
    fill: url(#SVGID_2_);
  }

  .st2 {
    fill: url(#SVGID_2_);
  }
}