#loader {
  width: 15rem;
  position: absolute;
  left: calc(50% - 7rem);
  top: calc(50% - 4rem);

  .st0 {
    fill: #404041;
  }

  .st1 {
    fill: url(#SVGID_1_);
  }

  .st2 {
    fill: url(#SVGID_2_);
  }
}