.location {
    display: flex;

    &-infos {
        display: flex;
        margin-top: 80px;

            &-place {
                background: $primary;
                color: $white;
                font-weight: bold;
                padding: 16px 16px;
                background-image: url($img-path+'svg/location_place.svg');
                background-repeat: no-repeat;
                background-size: 20%;
                background-position: bottom right;
            }

            &-amphis {
                background: $red;
                color: $white;
                font-weight: bold;
                padding: 16px 16px;
                background-image: url($img-path+'svg/location_amphis.svg');
                background-repeat: no-repeat;
                background-size: 20%;
                background-position: bottom right;
            }
    
            &-dev {
                background: $yellow;
                color: $white;
                font-weight: bold;
                padding: 16px 16px;
                background-image: url($img-path+'svg/location_dev.svg');
                background-repeat: no-repeat;
                background-size: 20%;
                background-position: bottom right;
            }
    }

    &-site {
        &-place {
            background: url($img-path+'svg/bdxio_pattern.svg') no-repeat, $gradient;
            background-size: cover;
            background-repeat: no-repeat;
            color: $white;
            min-height: calc(1024px - 756px);
            padding: 24px 30px;

            h5 {
                font-weight: bold;
                margin-bottom: 16px;
            }
        }

        &-map {
            padding: 0;
            margin: 0;
        }
    }
}

iframe {
    border: none !important;
    min-width: auto !important;
}