.metricsBar {
    display: flex;
    background : $primary;
    background-image: url($img-path+'svg/bdxio_pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(1024px - 756px);
    margin-top: 64px;
    margin-bottom: 40px;

    &-picture {
        position: relative;
        min-height: calc(1024px - 756px);
        background: linear-gradient(rgba($primary, .65), rgba($primary, .75)), url($img-path+'jpg/about_img.jpg');
        background-size: cover;
        cursor: pointer;

        a {
            position: absolute;
            color: white;
            font-size: 40px;
            top: 40%;
            right: 40%;
            transform: translate(-40% -40%);

            &:hover {
                animation-name: zoomIn;
             }
        }
    }

    &-video {
        position: relative;
        min-height: calc(1024px - 756px);
        background: linear-gradient(rgba($primary, .65), rgba($primary, .75)), url($img-path+'jpg/about_video.jpg');
        background-size: cover;
        cursor: pointer;

        a {
            position: absolute;
            color: white;
            font-size: 40px;
            top: 40%;
            right: 40%;
            transform: translate(-40% -40%);
        } 
    }

    &-content {
        display: flex;
        color: white;

        &-number {
            font-weight: bold;
        }
    }
}

.seperateElement {
    border-left: 1px solid $white; 
    border-right: 1px solid $white; 
}
