.speakers {
  display: block;
  position: relative;
  margin-top: rem-calc(64px);

  &-speakersFlottant {
    width: 100%;
    height: 180%;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    img {
      position: relative;
      float: right;
      max-width: 15%;
      right: -2%;
    }
  }

  &-container {
    display: block;
    margin-top: 64px;
    margin-bottom: 40px;

    &-content {
      display: flex;

      &-item {
        display: flex;
        padding: 0;

        &-picture {
          height: 100%;
          width: 100%;
          object-fit: cover;
          padding: 0;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          padding: 8px 0;
          color: white;
          background-image: url($img-path + 'svg/bdxio_pattern.svg');
          background-image: url($img-path + 'svg/bdxio_pattern.svg');
          background-image: url($img-path + 'svg/bdxio_pattern.svg');

          &-bio {
            max-height: 100px;
            overflow: hidden;
            padding: 0 8px;
          }

          h6 {
            font-weight: bold;
            padding: 0 8px;
          }

          &-socialNetwork {
            padding: 0 8px;
            color: $white;
            &:hover {
              opacity: 0.6;
              cursor: pointer;
            }
          }

          &:nth-child(even) {
            background-image: url($img-path + 'svg/bdxio_pattern.svg');
            background-repeat: no-repeat;
            background-size: 200%;
          }
        }

        &.speaker-open {
          .speakers-container-content-item-text {
            flex: 2;
          }

          .speakers-container-content-item-picture {
            display: none;
          }
        }
      }

      &.speakers-row-1 {
        .speakers-container-content-item {
          position: relative;
          background: $red;

          &-arrow {
            position: absolute;
            width:0;
            border: rem-calc(15px) solid transparent;
            border-right: rem-calc(15px) solid $red;
            top: calc(50% - 15px);
            left: rem-calc(153px);
          }

          &:nth-child(even) {
            background: $yellow;

            .speakers-container-content-item-arrow {
              border-right: rem-calc(15px) solid $yellow;
            }
          }
        }
      }

      &.speakers-row-2 {
        .speakers-container-content-item {
          position: relative;
          background: $yellow;

          &-arrow {
            position: absolute;
            width:0;
            border: rem-calc(15px) solid transparent;
            border-left: rem-calc(15px) solid $yellow;
            top: calc(50% - 15px);
            right: rem-calc(153px);
          }

          &:nth-child(even) {
            background: $red;

            .speakers-container-content-item-arrow {
              border-left: rem-calc(15px) solid $red;
            }
          }
        }
      }
    }
  }

  &-button {
    margin-top: 16px;
  }

}

hr {
  height: 1pt;
  margin: 10px 50px;
  padding: 0;
  color: $white;
  background-color: $white;
  border: 0;
}
