.speakers {
    display: block;

    &-container {
        margin: 0;

        &-content {
            display: flex;

            &-item {
                display: flex;
                padding: 0;

                &-picture {
                    padding: 0;
                    max-width: 400px;
                    max-height: 200px;
                    background : red; 
                }
    
                &-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding : 16px 8px;
                    max-width: 400px;
                    max-height: 200px;
                    background : $red;
                    color: white;
                    background-image: url($img-path+'svg/bdxio_pattern.svg');
                    background-repeat: no-repeat;
                    background-size: 200%;

                    &-bio {
                        display: none;
                        visibility: hidden;
                    }

                    &-trait {
                        display: inline-block;
                        background-color: $white;
                        height: 1pt;
                        width: 50%;  
                        margin-bottom: 8px; 
                    }

                    h6 {
                        font-weight: bold;
                    }

                    &-socialNetwork {
                        padding: 0 8px;
                    }
                    
                    &:nth-child(even) {
                        background : $yellow;
                        background-image: url($img-path+'svg/bdxio_pattern.svg');
                        background-repeat: no-repeat;
                        background-size: 200%;
                    }
                }
            }
        }
    }

    &-button {
        margin-top: 16px;
    }
}