.someNews {
    display: block;
    background-image: url($img-path+'bdxio_pattern');
    background-color: $primary;

    &-content {
        display: flex;

        &-item {
            background: $white;
            margin: 0 8px;

            img {
                height: 200px;
                width: 430px;
            }

            &-title {
                position: relative;
                bottom: 15px;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                background: $yellow;
                padding:4px 16px;
            }

            &-button {
                padding-top: 16px;
            }
        }
    }
}