.someNews {
    display: block;
    background : $primary;
    background-image: url($img-path+'bdxio_pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &-content {
        display: flex;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $white;
            margin: 0 8px;

            img {
                height: 200px;
                width: 430px;
            }

            &-title {
                position: relative;
                bottom: 15px;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                background: $yellow;
                padding:4px 16px;
            }

            &-button {
                padding-top: 16px;
            }
        }
    }

    &-navigate {
        margin: 16px;

        i {
            cursor: pointer;
            padding: 4px;
            color: $white;

            &:hover {
                opacity: 0.7;

               
            }
        }
    }
}