.sponsorBar {
  display: block;
  position: relative;
  margin-bottom: 80px;

  .homeFlottant {
    display: block;
    float: left;
    position: absolute;
    max-width: 20%;
    top: -30%;
  }

  .homeFlottant1 {
    display: block;
    float: right;
    position: absolute;
    max-width: 20%;
    bottom: -54%;
    right: -12px;
  }

  @include breakpoint(small down) {
    .homeFlottant,
    .homeFlottant1 {
      display: none;
    }
  }

  .title {
    text-transform: uppercase;
    color: $text-color;
    font-weight: bold;
    margin-top: 80px;
  }
  img {
    margin-right: 10px;
  }
}
