.ticketingAccess {
    display: block;

    &-container {
        display: flex;

        &-item {
            padding: 0;
            margin: 0 8px;

            &-title {
                background: $yellow;
                padding: 8px;

                &-euros {
                    font-size: 24px;
                    font-weight: bold;
                    color: $white;
                }

                &-classe {
                    font-size: 14px;
                    font-weight: bold;
                    color: $white;
                    text-transform: uppercase;
                }
            }

            &-status {
                background: $red;
                color: white;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 4px;
            }

            &-content {
                background: $grey-white;
                padding: 16px;
                height: 180px;

                span {
                    color: $red;
                }
            }

        }
    }
}