.ticketingAccess {
    display: block;
    position: relative;

    .homeFlottant {
        display: block;
        float: right;
        position: absolute;
        max-width: 26%;
        right: -12%;
        bottom: -14%;
      }

    &-container {
        display: flex;
        margin-top: rem-calc(64px);

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 8px;
            background: $grey-white;
            min-height: rem-calc(450px);

            &-infos {
                display: block;
                
                &-title {
                    display: block;
                    background: $yellow;
                    background-image: url($img-path+'svg/bdxio_pattern.svg');
                    background-repeat: no-repeat;
                    background-size: 200%;
                    padding: 8px;
    
                    &-euros {
                        font-size: 24px;
                        font-weight: bold;
                        color: $white;
                    }
    
                    &-classe {
                        font-size: 14px;
                        font-weight: bold;
                        color: $white;
                        text-transform: uppercase;
                    }
                }
    
                &-status {
                    background: $red;
                    background-image: url($img-path+'svg/bdxio_pattern.svg');
                    background-repeat: no-repeat;
                    background-size: 200%;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 4px;
                }
            }

            &-content {
                display: block;
                padding: 24px;
                line-height: 40px;

                span {
                    color: $red;
                }

                &-button {
                    margin-top: 16px;
                }
            }
        }
    }
}