.ticket-switch__container {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  width: 70%;
  min-height: 100%;
  border-radius: rem-calc(16px);
  border: rem-calc(1px) solid #F4F7FC;
  margin-top: rem-calc(32px);
}

.ticket-switch__img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F7FC;
  border-radius: rem-calc(0 16px 16px 0);
  padding: rem-calc(0 16px);
}

.ticket-switch__wrapper {
  margin: rem-calc(16px 32px);
}
.ticket-switch__title {
  margin-top: 2.4rem;
}
.ticket-switch__label {
  display: inline-block;
  margin-bottom: 0;
}
.ticket-switch__field {
  height: 2.4375rem;
  background: #0000;
  border: 1px solid $grey;
  color: #2b2d43;
  padding: 0.5rem !important;

  &:focus {
    border: 2px solid $primary;
  }
}

.ticket-switch__spacer {
  margin-top: rem-calc(16px);
}

.ticket-switch__button-wrapper {
  text-align: right;
  margin-top: rem-calc(24px);
}