.ticketingAccess {
  display: block;
  position: relative;

  &-ticketingAccessFlottant {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    img {
      position: relative;
      float: right;
      max-width: 24%;
      right: -12%;
      bottom: -20%;
    }
  }

  @include breakpoint(small down) {
    &-ticketingAccessFlottant {
      display: none;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(64px - 8px);

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 8px;
      background: $grey-white;
      min-height: rem-calc(450px);
      width: rem-calc(263px);
      position: relative;
      overflow: hidden;
      text-align: center;

      &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }

      &-infos {
        display: block;

        &-title {
          display: block;
          background: $yellow;
          background-image: url($img-path+"svg/bdxio_pattern.svg");
          background-repeat: no-repeat;
          background-size: 200%;
          padding: 8px;

          &-euros {
            font-size: 24px;
            font-weight: bold;
            color: $white;
          }

          &-classe {
            font-size: 14px;
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
          }
        }

        &-status {
          background: $red;
          background-image: url($img-path+"svg/bdxio_pattern.svg");
          background-repeat: no-repeat;
          background-size: 200%;
          color: white;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 4px;
        }
      }

      &-content {
        display: block;
        padding: 24px;
        line-height: 40px;

        span {
          color: $red;
        }

        &-button {
          margin-top: 16px;
        }
      }

      @include breakpoint(medium down) {
        min-height: rem-calc(250px);
        &-content {
          display: block;
          padding: 24px;
          line-height: 17px;
        }
      }
    }
  }
}
