
// For this hint, see http://css-tricks.com/replace-the-image-in-an-img-with-css/
@mixin responsive-image(
        $desktop-image-path, $desktop-image-height, $desktop-image-width,
        $mobile-image-path, $mobile-image-height, $mobile-image-width,
        $display-type, $withHover: false) {

  display: $display-type;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  @media (min-width: $screen-sm-min) {
    background: image-url($desktop-image-path);
    height: $desktop-image-height;
    width: $desktop-image-width; /* Width of new image */
    padding-left: $desktop-image-width; /* Equal to width of new image */
    @if($withHover) {
      &:hover {
        background: image-url('hover_'+$desktop-image-path);
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    background: image-url($mobile-image-path);
    height: $mobile-image-height;
    width: $mobile-image-width; /* Width of new image */
    padding-left: $mobile-image-width; /* Equal to width of new image */
    @if($withHover) {
      &:hover {
        background: image-url('hover_'+$mobile-image-path);
      }
    }
  }
}

$max_theme_img_height: 85px;
@mixin theme-img($icon-path, $icon-width, $icon-height) {
  @include responsive-image(
          $icon-path, $icon-height, $icon-width,
          $icon-path, $icon-height, $icon-width,
          block);
  margin-left: ($theme-tile-size - $icon-width)/2;
  margin-top: ($max_theme_img_height - $icon-height)/2;
  margin-bottom: ($max_theme_img_height - $icon-height)/2;
}
