
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-less {
  margin: 0px 0px;
}

.logo {
  @include responsive-image(
    'logo_header.png', $header-desktop-hlogo-height, $header-desktop-hlogo-width,
    'logo_header_mobile.png', $header-mobile-hlogo-height, $header-mobile-hlogo-width,
    block
  );
}

.facebook-icon {
  @include responsive-image(
    'btn_facebook.png', 27px, 27px,
    'btn_facebook.png', 27px, 27px,
    inline-block, true
  );
}

.twitter-icon {
  @include responsive-image(
    'btn_twitter.png', 27px, 27px,
    'btn_twitter.png', 27px, 27px,
    inline-block, true
  );
}

.contact-icon {
  @include responsive-image(
    'btn_contact.png', 27px, 27px,
    'btn_contact.png', 27px, 27px,
    inline-block, true
  );
}

.footer-logo {
  @include responsive-image(
    'logo_footer.png', $header-flogo-height, $header-flogo-width,
    'logo_footer.png', $header-flogo-height, $header-flogo-width,
    block
  );
}

.twitter-follow-button {
  margin: 8px;
}

.partner-enseirb {
  @include responsive-image(
    'logo_einserb.png', 110px, 110px,
    'logo_einserb-mobile.png', 100px, 100px,
    block, true
  );
}

.unknown-partner {
  @include responsive-image(
    'no_logo.png', 110px, 110px,
    'no_logo-mobile.png', 100px, 100px,
    block
  );
}


.theme1 {
  background-color: $theme1-main-bgcolor;
  color: $theme1-main-color;
}

.theme2 {
  background-color: $theme2-main-bgcolor;
  color: $theme2-main-color;
}

.theme3 {
  .h3, a {
    color: $theme3-secondary-color;
  }
  a:hover {
    color: $theme3-main-color;
  }
  color: $theme3-main-color;
  background-color: $theme3-main-bgcolor;
}

.theme4 {
  color: $theme4-main-color;
  background-color: $theme4-main-bgcolor;
}

.icon {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
}

#home {
  @media (min-width: $screen-md-min) {
    height: 680px;
    background-image: image-url('pont_bacalan_md.png');
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 680px;
    background-image: image-url('pont_bacalan_xs-md.png');
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    height: 490px;
    background-image: image-url('pont_bacalan_xs.png');
  }
  @media (max-width: $screen-tn-max) {
    height: 410px;
    background-image: image-url('pont_bacalan_xs.png');
  }
  background-position: bottom;
  background-repeat: repeat-x;
}

.main-title h4 {
  @media (min-width: $screen-md-min) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

hr.spacer {
  line-height: 0px;
  margin: 0px;
  border: 0px;
  visibility: hidden;
}

.nav-menu {
  @media (min-width: $screen-sm-min) {
    padding-left: 50px;
  }
  @media (max-width: $screen-xs-max) {
    padding-left: 0px;
  }
}

.nav .navbar-item {
  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #bbbbbb;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: $screen-xs-max) {
    border-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.nav .navbar-item.first {
  border-left: 0px !important;
}

hr.title-tips-spacer {
  @extend hr.spacer;
  @media (min-width: $screen-md-min) {
    height: 35px;
  }
  @media (max-width: $screen-xs-max) {
    height: 5px;
  }
}

.logistic-spacer {
  @extend hr.spacer;
  height: 10px;
}

.logistic-title {
  padding-bottom: 60px;
}

.hint {
  font-weight: 300;
  @media (min-width: $screen-sm-min) {
    font-size: 28px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 18px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 16px;
  }
}

.important-hint {
  @media (min-width: $screen-sm-min) {
    font-size: 32px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 20px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 17px;
  }
}

.more-infos {
  @media (min-width: $screen-xs-min) {
    font-size: 18px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 17px;
  }
}

.themes {
}

.themeTile {
  width: $theme-tile-size;
  height: $theme-tile-size;
  background-color: $theme2-main-bgcolor;
  color: $theme2-main-color;

  float: left;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  @media (min-width: $screen-sm-min) {
    padding-bottom: 10px;
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 5px;
  }
}

.theme-img {
  border: 0px;
  &.coding {
    @include theme-img('icon-coding.png', 98px, 57px);
  }
  &.medias {
    @include theme-img('icon-medias.png', 95px, 57px);
  }
  &.future {
    @include theme-img('icon-future.png', 61px, 65px);
  }
  &.design {
    @include theme-img('icon-design.png', 44px, 65px);
  }
}

.theme-hints {
  li {
    font-size: 20px;
    text-align: center;
  }
}

.phone {
  color: $light-red;
}

.partners {
  padding-top: 20px;
  text-align: left;
}

.partner {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  @media (min-width: $screen-sm-min) {
    padding-bottom: 10px;
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 5px;
  }
}

.copyright {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
  font-size: 10px;
  padding-top: 20px;
}