
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-less {
  margin: 0px 0px;
}

.logo {
  @include responsive-image(
    'logo_header.png', $header-desktop-hlogo-height, $header-desktop-hlogo-width,
    'logo_header_mobile.png', $header-mobile-hlogo-height, $header-mobile-hlogo-width
  );
}

.twitter-icon {
  @include responsive-image(
    'btn_twitter.png', 27px, 27px,
    'btn_twitter.png', 27px, 27px
  );
  &:hover {
    background: image-url('btn_twitter_hover.png');
  }
}

.contact-icon {
  @include responsive-image(
    'btn_contact.png', 27px, 27px,
    'btn_contact.png', 27px, 27px
  );
  &:hover {
    background: image-url('btn_contact_hover.png');
  }
}

.footer-logo {
  @include responsive-image(
    'logo_footer.png', $header-flogo-height, $header-flogo-width,
    'logo_footer.png', $header-flogo-height, $header-flogo-width
  );
}

.partner-enseirb {
  @include responsive-image(
    'logo_einserb.png', 130px, 130px,
    'logo_einserb.png', 130px, 130px
  );
  &:hover {
    background: image-url('logo_einserb_hover.png');
  }
}

.theme1 {
  background-color: $theme1-main-bgcolor;
  color: $theme1-main-color;
}

.theme2 {
  background-color: $theme2-main-bgcolor;
  color: $theme2-main-color;
}

.theme3 {
  .h3 {
    color: $theme3-secondary-color;
  }
  color: $theme3-main-color;
  background-color: $theme3-main-bgcolor;
}

.theme4 {
  color: $theme4-main-color;
  background-color: $theme4-main-bgcolor;
}

.icon {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
}

#home {
  @media (min-width: $screen-md-min) {
    height: 680px;
    background-image: image-url('pont_bacalan_md.png');
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 680px;
    background-image: image-url('pont_bacalan_xs-md.png');
  }
  @media (max-width: $screen-xs-max) {
    height: 525px;
    background-image: image-url('pont_bacalan_xs.png');
  }
  background-position: bottom;
  background-repeat: repeat-x;
}

.main-title h4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

hr.spacer {
  line-height: 0px;
  margin: 0px;
  border: 0px;
  visibility: hidden;
}
.logistic-spacer {
  @extend hr.spacer;
  height: 10px;
}

.logistic-title {
  padding-bottom: 60px;
}

.hint {
  font-weight: 300;
  @media (min-width: $screen-sm-min) {
    font-size: 28px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 18px;
  }
}

.important-hint {
  @media (min-width: $screen-sm-min) {
    font-size: 32px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 20px;
  }
}

.more-infos {
  font-size: 18px;
}

.phone {
  color: $light-red;
}

.partners {
  padding-top: 20px;
  text-align: left;
}

.partner {
  float: left;
  @media (min-width: $screen-sm-min) {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.copyright {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
  font-size: 10px;
  padding-top: 20px;
}