
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-less {
  margin: 0px 0px;
}

.logo {
  @include responsive-image(
    'logo_header.png', $header-desktop-hlogo-height, $header-desktop-hlogo-width,
    'logo_header_mobile.png', $header-mobile-hlogo-height, $header-mobile-hlogo-width
  );
}

.footer-logo {
  @include responsive-image(
    'logo_footer.png', $header-flogo-height, $header-flogo-width,
    'logo_footer.png', $header-flogo-height, $header-flogo-width
  );
}

.venue {
  @include responsive-image(
    'ENSEIRB - Venue.png', 344px, 543px,
    'ENSEIRB - Venue-mobile.png', 222px, 350px
  );
}

.partner-enseirb {
  @include responsive-image(
    'logo_einserb.png', 130px, 130px,
    'logo_einserb.png', 130px, 130px
  );
  &:hover {
    background: image-url('logo_einserb_hover.png');
  }
}

.theme1 {
  background-color: $theme1-main-bgcolor;
  color: $theme1-main-color;
}

.theme2 {
  background-color: $theme2-main-bgcolor;
  color: $theme2-main-color;
}

.theme3 {
  .h3 {
    color: $theme3-secondary-color;
  }
  color: $theme3-main-color;
  background-color: $theme3-main-bgcolor;
}

.theme4 {
  color: $theme4-main-color;
  background-color: $theme4-main-bgcolor;
}

.icon {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
}

hr.spacer {
  line-height: 0px;
  margin: 0px;
  border: 0px;
  visibility: hidden;
}
.logistic-spacer {
  @extend hr.spacer;
  height: 10px;
}

.logistic-title {
  padding-bottom: 60px;
}

.hint {
  font-weight: 300;
  @media (min-width: $screen-xs-min) {
    font-size: 28px;
  }
  @media (max-width: $screen-xs-min) {
    font-size: 18px;
  }
}

.important-hint {
  @media (min-width: $screen-xs-min) {
    font-size: 32px;
  }
  @media (max-width: $screen-xs-min) {
    font-size: 20px;
  }
}

.more-infos {
  font-size: 18px;
}

.phone {
  color: $light-red;
}

span.hidden-xs {
  @media (min-width: $screen-xs-min) {
    display: inline !important;
  }
  @media (max-width: $screen-xs-min) {
    display: none !important;
  }
}

.partners {
  padding-top: 20px;
  text-align: left;
}

.partner {
  float: left;
  @media (min-width: $screen-xs-min) {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  @media (max-width: $screen-xs-min) {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.copyright {
  @media (min-width: $screen-xs-min) {
    text-align: right;
  }
  @media (max-width: $screen-xs-min) {
    text-align: left;
  }
  font-size: 10px;
  padding-top: 20px;
}