
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-less {
  margin: 0px 0px;
}

.logo {
  @include responsive-image(
    'logo_header.png', $header-desktop-hlogo-height, $header-desktop-hlogo-width,
    'logo_header_mobile.png', $header-mobile-hlogo-height, $header-mobile-hlogo-width,
    block
  );
}

.facebook-icon {
  @include responsive-image(
    'btn_facebook.png', 27px, 27px,
    'btn_facebook.png', 27px, 27px,
    inline-block, true
  );
}

.twitter-icon {
  @include responsive-image(
    'btn_twitter.png', 27px, 27px,
    'btn_twitter.png', 27px, 27px,
    inline-block, true
  );
}

.lanyrd-icon {
  @include responsive-image(
    'btn_lanyrd.png', 27px, 27px,
    'btn_lanyrd.png', 27px, 27px,
    inline-block, true
  );
}

.contact-icon {
  @include responsive-image(
    'btn_contact.png', 27px, 27px,
    'btn_contact.png', 27px, 27px,
    inline-block, true
  );
}

.footer-logo {
  @include responsive-image(
    'logo_footer.png', $header-flogo-height, $header-flogo-width,
    'logo_footer.png', $header-flogo-height, $header-flogo-width,
    block
  );
}

.twitter-follow-button {
  margin: 8px;
}

.brochure {
  margin-top: 10px;
}

.partner-enseirb {
  @include responsive-image(
    'logo_enseirb.png', 110px, 110px,
    'logo_enseirb-mobile.png', 100px, 100px,
    block, true
  );
}

.unknown-partner {
  @include responsive-image(
    'no_logo.png', 110px, 110px,
    'no_logo-mobile.png', 100px, 100px,
    block
  );
}

.partner-desc {
    font-size: 0.9em;
}

hr.crlf {
    line-height: 0px;
    margin: 0px;
    border: 0px;
    clear: both;
    visibility: hidden;
}

.theme1 {
  background-color: $theme1-main-bgcolor;
  color: $theme1-main-color;
}

.theme2 {
  background-color: $theme2-main-bgcolor;
  color: $theme2-main-color;
  a, a:hover {
    color: $theme2-main-color;
  }
}

.theme3 {
  .h3, a {
    color: $theme3-secondary-color;
  }
  a:hover {
    color: $theme3-main-color;
  }
  .btn-primary {
    color: white;
    background-color: #333333;
    border-color: grey;
    border-radius: 22px;
    &:hover, &:focus, &:active, &.active {
      background-color: black;
      border-color: grey;
    }
  }
  color: $theme3-main-color;
  background-color: $theme3-main-bgcolor;
}

.theme4 {
  color: $theme4-main-color;
  background-color: $theme4-main-bgcolor;
}

.icon {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
}

#home {
  @media (min-width: $screen-md-min) {
    height: 680px;
    background-image: image-url('pont_bacalan_md.png');
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 680px;
    background-image: image-url('pont_bacalan_xs-md.png');
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    height: 490px;
    background-image: image-url('pont_bacalan_xs.png');
  }
  @media (max-width: $screen-tn-max) {
    height: 410px;
    background-image: image-url('pont_bacalan_xs.png');
  }
  background-position: bottom;
  background-repeat: repeat-x;
}

.main-title h4 {
  @media (min-width: $screen-md-min) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

hr.spacer {
  line-height: 0px;
  margin: 0px;
  border: 0px;
  visibility: hidden;
}

.nav-menu {
  @media (min-width: $screen-sm-min) {
    padding-left: 50px;
  }
  @media (max-width: $screen-xs-max) {
    padding-left: 0px;
  }
}

.nav .navbar-item {
  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #bbbbbb;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: $screen-xs-max) {
    border-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.nav .navbar-item.first {
  border-left: 0px !important;
}

hr.title-tips-spacer {
  @extend hr.spacer;
  @media (min-width: $screen-md-min) {
    height: 35px;
  }
  @media (max-width: $screen-xs-max) {
    height: 5px;
  }
}

.logistic-spacer {
  @extend hr.spacer;
  height: 10px;
}

.logistic-title {
  padding-bottom: 60px;
}

.hint {
  font-weight: 300;
  @media (min-width: $screen-sm-min) {
    font-size: 28px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 18px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 16px;
  }
}

.important-hint {
  @media (min-width: $screen-sm-min) {
    font-size: 32px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 20px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 17px;
  }
}

.more-infos {
  @media (min-width: $screen-xs-min) {
    font-size: 18px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 17px;
  }
}

.btn-lg {
  @media (min-width: $screen-xs-min) {
    font-size: 18px;
  }
  @media (max-width: $screen-tn-max) {
    font-size: 16px;
  }
}

.no-padding-left-on-tn {
  @media (max-width: $screen-tn-max) {
    padding-left: 0px !important;
  }
}

.theme-tile {
  width: $theme-tile-size;
  height: $theme-tile-size;

  float: left;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  @media (min-width: $screen-sm-min) {
    padding-bottom: 10px;
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 5px;
  }
}

.theme-tile {
  .theme-img {
    border: 0px;
  }
  .theme-hints {
    li {
      text-align: center;
    }
  }
  .front {
    background-color: $theme2-main-bgcolor;
    color: $theme2-main-color;

    .theme-hints {
      li {
        font-size: 20px;
      }
    }
    .theme-img {
      &.coding {
        @include front-theme-img('icon-coding-front.png', 98px, 57px);
      }
      &.medias {
        @include front-theme-img('icon-medias-front.png', 95px, 57px);
      }
      &.future {
        @include front-theme-img('icon-future-front.png', 61px, 65px);
      }
      &.design {
        @include front-theme-img('icon-design-front.png', 44px, 65px);
      }
    }
  }
  .back {
    background-color: $theme4-main-bgcolor;
    color: $theme4-main-color;

    .theme-hints {
      li {
        font-size: 17px;
      }
    }
    .theme-img {
      &.coding {
        @include back-theme-img('icon-coding-back.png', 48px, 28px);
      }
      &.medias {
        @include back-theme-img('icon-medias-back.png', 47px, 28px);
      }
      &.future {
        @include back-theme-img('icon-future-back.png', 26px, 28px);
      }
      &.design {
        @include back-theme-img('icon-design-back.png', 19px, 28px);
      }
    }
  }
}

.phone {
  color: $light-red;
}

ul.friends-list {
  padding-top: 20px;
  text-align: left;
}

li.friend {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  list-style-type: none;
  @media (min-width: $screen-sm-min) {
    padding-bottom: 10px;
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 5px;
  }
}

.copyright {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
  font-size: 10px;
  padding-top: 20px;
}

li.person {
  padding: 10px;
  $header-xs-height: 100px;
  $header-sm-height: 137px;
  $names-md-font-height: 38px;
  $names-sm-font-height: 38px;
  $names-xs-font-height: 28px;
  $icon-size: 27px;

  .header {
    color: white;
    background-color: $grey-green;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
      height: $header-sm-height;
    }
    @media (max-width: $screen-xs-max) {
      height: $header-xs-height;
    }
    img {
      float: left;

      &.avatar {
        float: left;
        margin-right: 20px;

        @media (min-width: $screen-sm-min) {
          height: $header-sm-height;
        }
        @media (max-width: $screen-xs-max) {
          height: $header-xs-height;
        }

        @include desaturate();
      }

      &.icon {
        height: $icon-size;
        width: $icon-size;
        content: ""; // to avoid border on chrome
        margin-right: 5px;

        &.twitter {
          background-image: image-url("btn_twitter2.png");
          &:hover {
            background-image: image-url("btn_twitter2_hover.png");
          }
        }
        &.linkedin {
          background-image: image-url("btn_linkedin.png");
          &:hover {
            background-image: image-url("btn_linkedin_hover.png");
          }
        }
        &.gplus {
          background-image: image-url("btn_googleplus2.png");
          &:hover {
            background-image: image-url("btn_googleplus2_hover.png");
          }
        }
      }
    }
    .infos {
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;

      span {
        &.firstname, &.lastname {
          font-size: 1.5em;
          white-space: nowrap;
        }
        &.lastname {
          text-transform: uppercase;
        }
      }

      @media (min-width: $screen-md-min) {
        width: 270px;
        height: $header-sm-height;
        padding-top: ($header-sm-height/2 - $names-md-font-height - $icon-size/2 - 5px);
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 270px;
        height: $header-sm-height;
        padding-top: ($header-sm-height/2 - $names-sm-font-height - $icon-size/2 - 5px);
      }
      @media (max-width: $screen-xs-max) {
        width: 115px;
        height: $header-xs-height;
        padding-top: ($header-xs-height/2 - $names-xs-font-height - $icon-size/2 - 5px);
      }

      .social {
        @media (min-width: $screen-sm-min) {
          padding-top: 5px;
        }
        @media (max-width: $screen-xs-max) {
        }
      }
    }
  }
  .body {
    padding: 18px;
    color: white;
    background-color: $grey-black;
    font-size: 0.8em;
    @media (min-width: $screen-md-min) {
        height: 290px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        height: 200px;
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
        height: 220px;
    }
    @media (max-width: ($screen-xs-min - 1px)) {
        height: 340px;
    }
  }
}
