// Color palette

$grey-black: #4a4a4b;
$light-red: #dc2e2e;
$dark-green: #8dbd4f;

// Themed variables

$theme1-main-bgcolor: white;
$theme1-main-color: $grey-black;

$theme2-main-bgcolor: $light-red;
$theme2-main-color: white;

$theme3-main-bgcolor: $dark-green;
$theme3-main-color: white;
$theme3-secondary-color: $grey-black;

$theme4-main-bgcolor: $grey-black;
$theme4-main-color: white;

// True variables
$header-desktop-hlogo-width: 159px;
$header-desktop-hlogo-height: 62px;
$header-mobile-hlogo-width: 150px;
$header-mobile-hlogo-height: 45px;
$header-flogo-width: 100px;
$header-flogo-height: 38px;

$header-desktop-height: $header-desktop-hlogo-height+15px;
$header-mobile-height: $header-mobile-hlogo-height+15px;
$navbar-toggle-height: 34px;
$navbar-toggle-desktop-margintop: ($header-desktop-height/2 - $navbar-toggle-height/2);
$navbar-toggle-mobile-margintop: ($header-mobile-height/2 - $navbar-toggle-height/2);
$navbar-icon-height: 27px;
$navbar-icon-desktop-margintop: ($header-desktop-height/2 - $navbar-icon-height/2);
$navbar-icon-small-margintop: ($header-mobile-height/2 - $navbar-icon-height/2);
