// Color palette

$grey-black: #4a4a4b;
$light-red: #dc2e2e;
$dark-green: #8dbd4f;

// Themed variables

$theme1-main-bgcolor: white;
$theme1-main-color: $grey-black;

$theme2-main-bgcolor: $light-red;
$theme2-main-color: white;

$theme3-main-bgcolor: $dark-green;
$theme3-main-color: white;
$theme3-secondary-color: $grey-black;

// True variables
$header-desktop-logo-width: 159px;
$header-desktop-logo-height: 62px;
$header-mobile-logo-width: 150px;
$header-mobile-logo-height: 45px;

$header-desktop-height: $header-desktop-logo-height+31px;
$header-mobile-height: $header-mobile-logo-height+31px;
$navbar-toggle-height: 34px;
$navbar-toggle-desktop-margintop: ($header-desktop-height/2 - $navbar-toggle-height/2);
$navbar-toggle-mobile-margintop: ($header-mobile-height/2 - $navbar-toggle-height/2);
