//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Color palette

$grey-black: #4a4a4b;
$light-red: #dc2e2e;
$dark-green: #8dbd4f;

// Themed variables

$theme1-main-bgcolor: white;
$theme1-main-color: $grey-black;

$theme2-main-bgcolor: $light-red;
$theme2-main-color: white;

$theme3-main-bgcolor: $dark-green;
$theme3-main-color: white;
$theme3-secondary-color: $grey-black;

// True variables
$header-desktop-logo-width: 159px;
$header-desktop-logo-height: 62px;
$header-mobile-logo-width: 150px;
$header-mobile-logo-height: 45px;

@import 'sass-bootstrap/lib/bootstrap';

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Dosis-Regular.ttf')
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-less {
  margin: 0px 0px;
}

/* Space out content a bit */
body {
    @media (min-width: $screen-xs-min) {
      padding-top: $header-desktop-logo-height+31px;
    }
    @media (max-width: $screen-xs-min) {
      padding-top: $header-mobile-logo-height+31px;
    }
    padding-bottom: 20px;
}

.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (min-width: $screen-xs-min) {
    background: url('../images/logo_header.png');
    height: $header-desktop-logo-height;
    width: $header-desktop-logo-width; /* Width of new image */
    padding-left: $header-desktop-logo-width; /* Equal to width of new image */
//    height: $header-desktop-height;
  }
  @media (max-width: $screen-xs-min) {
    background: url('../images/logo_header_mobile.png');
    height: $header-mobile-logo-height;
    width: $header-mobile-logo-width; /* Width of new image */
    padding-left: $header-mobile-logo-width; /* Equal to width of new image */
//    height: $header-mobile-height;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body {
  font-family: 'Dosis', 'sans-serif' !important;
}

h1 {
  font-size: 45px;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.theme1 {
  background-color: $theme1-main-bgcolor;
  color: $theme1-main-color;
}

.theme2 {
  background-color: $theme2-main-bgcolor;
  color: $theme2-main-color;
}

.theme3 {
  .h3 {
    color: $theme3-secondary-color;
  }
  color: $theme3-main-color;
  background-color: $theme3-main-bgcolor;
}

h1.main-title {
  padding-top: 55px;
  padding-bottom: 30px;
}


/* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//    .container {
//        max-width: 730px;
//    }
//
//    /* Remove the padding we set earlier */
//    .header,
//    .marketing,
//    .footer {
//        padding-left: 0;
//        padding-right: 0;
//    }
//
//    /* Space out the masthead */
//    .header {
//        margin-bottom: 30px;
//    }
//
//    /* Remove the bottom border on the jumbotron for visual effect */
//    .jumbotron {
//        border-bottom: 0;
//    }
//}
