// ~ TYPOGRAPHY
// ====================================================================== >

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.ttf");
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Bold.ttf");
  font-weight: bold;
}