// ~ HOME
// ====================================================================== >

// ~ ==== Welcome home

.welcome-home {
  position: relative;
  height: 254px;
  width: 100%;
  background: url("../../images/png/bg-welcome-home.png");
  background-color: $secondary;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 450px;

  .title-home { font-size: (34px);}

  .btn-view-talks {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 550px;
  }
}

// ~ ==== List News

.content-list-news {
  margin: 0;
  padding: 0;

  .item-new {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 250px;
    background-color: $dark-grey;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (min-width: 1440px) {
      width: 33%;
    }

    .container-img {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      height: 100%;
    }

    .content-title-new {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 30px;
      width: 50%;
      opacity: 0.95;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e4d55+0,662835+100 */
      background: #1e4d55; /* Old browsers */
      background: -moz-linear-gradient(left,  #1e4d55 0%, #662835 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #1e4d55 0%,#662835 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #1e4d55 0%,#662835 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4d55', endColorstr='#662835',GradientType=1 ); /* IE6-9 */

      @media screen and (max-width: 768px) {
        width: 100%;
      }


      .date-new {
        font-size: 12px;
      }

      .btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

  }
}

.slick-dots {
  bottom: -35px !important;
  height: 35px;
  padding-top: 5px !important;
  background-color: $white-grey;

  li button:before { font-size: 13px !important;}

  li.slick-active button {
   &:before {
     color: $secondary !important;
   }
  }

  li button:hover,
  li button:focus  {
    &:before {
      color: $primary !important;
    }
  }

  li.slick-active button:hover,
  li.slick-active button:focus  {
    cursor: default;
  }
}

// ~ ==== Summary home

.item-summary {
  margin-bottom: 40px;

  .content-cat-summary {
    display: inline-block;
    width: 190px;
    height: 190px;
    padding: 20px;
    border-radius: 100%;
    background: linear-gradient(219deg, #cf1633, #027d8e);
    background-size: 400% 400%;

    -webkit-animation: gradient-animation 7s ease infinite;
    -moz-animation: gradient-animation 7s ease infinite;
    animation: gradient-animation 7s ease infinite;


    i {
      display: block;
      height: 70px;
      font-size: 54px;
      color: white;
    }

    .title {
      color: white;
      font-size: 18px;
      font-weight: bold;
      line-height: 0.7;
    }
  }

  .container-cat-summary {
    width: 45%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .container-text-summary {
    width: 50%;
    padding-left: 20px;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }

  .container-cat-summary,
  .container-text-summary {
    display: inline-block;
    vertical-align: middle;
  }
}

// ~ ==== Location home

.item-info-location {
  position: relative;
  height: 100px;
  overflow: hidden;

  &:after {
    font-family: bdxio;
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 105px;
    width: 70px;
    content: '';
    font-size: 100px;
  }

  &:nth-child(1) { background-color: $primary; &:after {content: '\6d'; color: darken($primary, 10%);}}
  &:nth-child(2) { background-color: $secondary; &:after {content: '\6c'; color: darken($secondary, 10%);}}
  &:nth-child(3) { background-color: $dark-grey; &:after {content: '\6b'; color: darken($dark-grey, 10%);}}

  .title {
    width: 60%;
    margin: 10px;
    line-height: 1.3;
    font-size: 20px;
    font-weight: bold;
  }
}

.content-infos-adress {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.adress {
  height:350px;
  padding-left: 10%;
  background-color: $dark-grey;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e4d55+0,662835+100 */
  background: #1e4d55; /* Old browsers */
  background: -moz-linear-gradient(left,  #1e4d55 0%, #662835 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #1e4d55 0%,#662835 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #1e4d55 0%,#662835 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4d55', endColorstr='#662835',GradientType=1 ); /* IE6-9 */
  color: white;

  @media screen and (max-width: 414px) {
    height: auto;
  }
}

.map {
  height: 350px;
}

.item-conf {
  height: 140px;
  padding: 22px 0;
  background: $primary;
  color: white;
  border-right: 10px solid #FFFFFF;

  @media screen and (max-width: 991px) {
    border-right: 0;
    border-bottom: 5px solid #ffffff;
  }

  &:last-child { border-right: 0;}

  i {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    font-size: 64px;
    text-align: center;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    font-size: 18px;
    font-weight: bold;
  }
}

.stats {
  h2 {
    font-size: 37.4px !important;
    white-space: nowrap;

    @media screen and (max-width: 991px) {
      white-space: normal;
    }
  }
}