.contact {

  &-contactFlottant {
    width: 100%;
    overflow: hidden;
    position: absolute;

    img {
      position: relative;
      float: right;
      max-width: 24%;
      right: -6%;
      bottom: -20%;
    }

    @include breakpoint(medium down) {
     display: none;
    }
  }

  &-container {
    margin-top: 64px;
    margin-bottom: 40px;

    &-content {
      display: flex;
      position: relative;
      justify-content: center;
      border: 4px solid $white;
      min-height: rem-calc(412px);
      padding: 8px;

      img {
        width: rem-calc(90px);
        margin-bottom: rem-calc(24px);
      }

      h5 {
        margin-bottom: rem-calc(80px);
      }

      .textGradient {
        background: linear-gradient(45deg, #cc0625, #fac319);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-partner, &-speaker, &-news {
        &-adress {
          display: flex;
          cursor: pointer;

          a {
            font-weight: bold;
            margin-left: 30%;
            color: $primary;
          }
        }
      }

      &-speaker {
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to top, #cc0625, #fac319) 1 100%;
        padding-left: rem-calc(30px);

        @include breakpoint(medium down) {
          border: none;
          margin: rem-calc(60px 0);
        }
      }

      &-news {
        padding-left: rem-calc(30px);
      }

      i {
        color: $primary;
        font-size: rem-calc(24px);
        animation: slide-right 2s ease-in-out infinite;
      }
    }
  }
}


