.contact {
  &-contactFlottant {
    width: 100%;
    overflow: hidden;
    position: absolute;

    img {
      position: relative;
      position: relative;
      float: right;
      max-width: 14%;
      right: -10%;
    }

    @include breakpoint(medium down) {
      display: none;
    }
  }

  &-container {
    position: relative;
    margin-top: 64px;
    margin-bottom: 40px;

    &-block {
      display: block;
    }

    &-content {
      display: flex;
      position: relative;
      justify-content: center;
      min-height: rem-calc(350px);
      padding: 8px;

      img {
        width: rem-calc(90px);
        margin-bottom: rem-calc(24px);
      }

      .textGradient {
        background: linear-gradient(45deg, #cc0625, #fac319);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-partner, &-speaker, &-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-adress {
          display: flex;
          cursor: pointer;

          a {
            font-weight: bold;
            margin-left: 30%;
            color: $primary;
            margin-bottom: 0 !important;
          }
        }
      }

      &-news {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to top, #cc0625, #fac319) 1 100%;
        padding-left: rem-calc(30px);
        border-left: transparent;

        @include breakpoint(medium down) {
          border: none;
          margin: rem-calc(60px 0);
        }

        i {
          padding-right: 20%;
        }

        &-adress {
          display: block;
          cursor: pointer;

          a {
            font-weight: bold;
            margin-left: 8px;
            color: $primary;
            margin-bottom: 0 !important;
          }

          &-mail {
            padding-top: rem-calc(8px);
          }
        }
      }

      &-speaker {
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to top, #cc0625, #fac319) 1 100%;
        padding-left: rem-calc(30px);

        @include breakpoint(medium down) {
          border: none;
          margin: rem-calc(60px 0);
        }
      }

      .slideRight {
        color: $primary;
        font-size: rem-calc(24px);
        animation: slide-right 1s ease-in-out infinite;
      }
    }
  }
}


