.faq-tag {
    display: flex;
    list-style-type: none;
    margin-left: 0;

        &-item {
            margin-right: rem-calc(8px);
            background-color: $red;
            color: $white;
            padding: rem-calc(2px 16px);
            border-radius: rem-calc(2px);
        }
}

.faq-container {
    margin: rem-calc(24px 0); 
    list-style-type: none;

    &-right-flottant {
        width: 100%;
        height: 180%;
        overflow: hidden;
        position: absolute;
    
        img {
            position: relative;
            float: right;
            right: -6%;
            z-index: 999;
            width: 20%;
            top: 10%;
        }

        @include breakpoint (medium down) {
            display: none;
        }
      } 
      
      &-left-flottant {
        width: 100%;
        height: 180%;
        overflow: hidden;
        position: absolute;
    
        img {
            position: relative;
            float: left;
            left: -4%;
            z-index: 999;
            width: 20%;
            top: 85%;
        }

        @include breakpoint (medium down) {
            display: none;
        }
      }  
}

.faq-content {
    margin-bottom: rem-calc(40px);

    &-title {
        font-weight: bold;
    }
}