.homeBg {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.home {
 &-homeFlottant {
    width: 100%;
    height: 180%;
    overflow: hidden;
    position: absolute;

    img {
      position: relative;
      float: right;
      max-width: 22%;
      right: -9%;
      top: 30%;
    }
  }

  @include breakpoint(small down) {
    &-homeFlottant {
      display: none;
    }
  }

  .home-header {
    display: flex;
    width: 100%;
    height: 600px;
    align-content: center;
    position: absolute;
    flex-direction: column;
    z-index: 999;
    top: rem-calc(100px);

    @include breakpoint(medium down) {
      top: 73px;
      padding-top: 40px;
      height: 400px;
      position: relative;
    }    

    &-background {
      background: $primary;
      background-image: url($img-path + 'svg/bdxio_pattern.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }


    &-content {
      background: $white;
      padding: 8px 16px;
      color: $red;
      font-size: 14px;
      font-weight: bold;
      margin: 20px 0 20px 0;

      span {
        padding: 0 16px;

        i {
          padding-right: 8px;
        }
      }
    }

    &-button {
      margin-top: 40px;

      button {
        margin: 0 8px 16px 8px;
      }
    }

    h1 {
      color: $white;
      font-weight: bold;
    }

    @include breakpoint(large) {

      &-content {
        margin: 40px 0 40px 0;
        font-size: 19px !important;
      }

      &-button {
        margin-top: 53px;
        font-size: 1.1rem !important;
      }

      h1 {
        font-size: 68px !important;
      }
    }



    @include breakpoint(medium down) {
      height: 450px;
      top: 67px;
    }

    @include breakpoint(small down) {
      &-content {
        margin: 40px 0 40px 0;
        font-size: 14px !important;
      }

      &-button {
        margin-top: 13px;
      }

      h1 {
        font-size: 38px !important;
      }
    }


  }

  &-headerBackground {
    img {
      position: relative;
      z-index: -1;
      bottom: 340px;
      background: $primary;
      background-image: url($img-path + 'svg/bdxio_pattern.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &-about {
    display: block;
    position: relative;

    img {
      display: block;
      float: left;
      position: absolute;
      max-width: 17%;
      left: -9%;
      top: -14%;
    }

    &-aboutFlottant {
      width: 100%;
      height: 180%;
      overflow: hidden;
      position: absolute;

      img {
        position: relative;
        float: left;
        right: -9%;
        top: -60%;
        z-index: 999;
      }
    }

    &-text {
      z-index: 1000;
      top: -10%;
    }
  }

  &-team {
    min-height: calc(1024px - 756px);
    background: linear-gradient(45deg, rgba($red, 0.55), rgba($yellow, 0.65)), url($img-path + 'jpg/bdxio_team.jpg');
    background-size: cover;
    background-position-y: 48%;
    margin-top: calc(80px + 16px);

    &-content {
      background-color: $white;
      opacity: 0.7;
      font-weight: bold;
      padding: 50px;

      h5 {
        color: $black;
        font-weight: bold;
      }

      h6 {
        color: $black;
      }
    }
  }

  .replace-countdown-space {
    height: 40px;
  }
}


// IE STYLE

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .home {
    svg,
    .homeBg,
    .header-height,
    .home-homeFlottant,
    .home-about-aboutFlottant,
    .conference-conferenceFlottantLeft,
    .conference-conferenceFlottantRight,
    .users-usersFlottant,
    .ticketingAccess-ticketingAccessFlottant {
      display: none !important;
    }
  }

  .home-header {
    background-image: url($img-path + 'png/bdxio_header.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    top: rem-calc(60px) !important;
    position: relative !important;
    height: 25rem !important;
  }

  .home-about {
    margin-top: 20vh !important;
  }

  .metricsBar,
  .someNews,
  .footer {
    background-image: none !important;
  }

  .conference-container,
  .location-site-place {
    background: $gradient !important;
    background-color: $gradient !important;
  }

  .menu{
    background: #2b2d43 !important;
  }
}
