.homeBg {
  position: absolute;
  z-index: -1;
  max-height: 500px;
  width: 100%;
}

.home {
  &-header {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 15%;

    h1 {
      color: $white;
      font-weight: bold;
    }

    img {
      position: absolute;
      max-width: 26%;
      right: -9%;
      top: 76%;
    }

    &-content {
      background: $white;
      padding: 8px 16px;
      margin: 24px 0;
      color: $red;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      z-index: 999;
      top: 15%;
    

      span {
        padding: 0 16px;

        i {
          padding-right: 8px;
        }
      }
    }

    &-background {
      background : $primary;
      background-image: url($img-path+'svg/bdxio_pattern.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-button {
      margin-top: 40px;

      button {
        margin: 0 8px 16px 8px;
      }
    }
  }

  &-headerBackground {
    img {
      position: relative;
      z-index: -1;
      bottom: 340px;
      background: $primary;
      background-image: url($img-path + 'svg/bdxio_pattern.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &-about {
    display: block;
    position: relative;

    h5 {margin-top: 0;}

    img {
      display: block;
      float: left;
      position: absolute;
      max-width: 17%;
      left: -9%;
      top: -14%;
    }
  }

  &-team {
    min-height: calc(1024px - 756px);
    background: linear-gradient(45deg, rgba($red, 0.55), rgba($yellow, 0.65)), url($img-path+ 'jpg/bdxio_team.jpg');
    background-size: cover;
    background-position-y: 48%;
    margin-top: calc(80px + 16px);

    &-content {
      background-color: $white;
      opacity: 0.7;
      font-weight: bold;
      padding: 50px;

      h5 {
        color: $black;
        font-weight: bold;
      }

      h6 {
        color: $black;
      }
    }
  }
}
