.newsContainer {

    &-newsFlottant {
        img {
            position: absolute;
            float: right;
            max-width: 14%;
            right: -4%;
            top: 138px;
          }
    }

    &-content {
        h4 {
            font-weight: bold;
        }

        h6 {
            font-size: 10px;
        }
    }

    section {
        margin: 64px 24px;
    }

    &-img {
        width: auto;
        height: rem-calc(250px);

        img {
           height: 100%;
           width: 100%;
           object-fit: cover;
            }
        }
}