.newsContainer {
  &-newsFlottant {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-top: 15px;

    img {
      position: relative;
      float: right;
      max-width: 24%;
      right: -6%;
      bottom: -20%;
    }
  }

  @include breakpoint(small down) {
    &-newsFlottant {
      display: none;
    }
  }

  &-content {
    @media screen and (max-width: 600px) {
      margin-top: 20px;
    }
    h4 {
      font-weight: bold;
    }

    h6 {
      font-size: 10px;
    }
  }

  section {
    margin: 30px;
  }

  &-img {
    width: auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

// IE STYLE

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .newsContainer-newsFlottant {
    display: none  !important;
  }
}


