.newsContainer {

    &-newsFlottant {
        img {
            position: absolute;
            float: right;
            max-width: 14%;
            right: -4%;
            top: 138px;
          }
    }

    @include breakpoint(small down) {
        &-newsFlottant {
            display: none;
        }
    }

    &-content {
        @media screen and (max-width: 600px) {
            margin-top: 20px;
        }
        h4 {
            font-weight: bold;
        }

        h6 {
            font-size: 10px;
        }
    }

    section {
        margin: 30px;
    }

    &-img {
        width: auto;
        height: rem-calc(250px);

        img {
           height: 100%;
           width: 100%;
           object-fit: cover;
            }
        }
}