.grid {
  @media screen and (min-width: 30em) {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(var(--tracks-number), 1fr);
    --tracks-number: 5;
  }

  .start-time {
    margin: 0;
    padding: 0;
    @media screen and (min-width: 30em) {
      text-align: right;
      transform: translateX(calc(-100% - 16px));
    }

    border-bottom: 0;
    font-weight: 600;
    .hours {
      font-size: 32px;
    }
    .minutes {
      font-size: 16px;
    }
  }

  .pause {
    background: $primary !important;
    color: $white !important;
    &:hover {
      background: $primary !important;
      color: $white !important;
      cursor: default !important;
    }
  }

  [flex] {
    flex: 1;
    flex-basis: 0.000000001px;
  }

  .session {
    background-color: $white;
    height: 100%;
    color: $text-color;
    overflow: hidden;
    border: 1px solid $grey-light;
    display: flex;
    flex-direction: column;

    &:hover {
      background: $white-grey;
      cursor: pointer;
    }

    &.keynote:hover {
      background: $white;
      cursor: default;
    }

    @media screen and (max-width: 30em) {
      margin-bottom: 10px;
    }

    .session-header {
      padding: 16px 16px 0;
      display: flex;
      justify-content: space-between;

      .session-title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
      }

      .language {
        margin-left: 8px;
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    .session-content {
      padding: 16px;
      .session-meta {
        text-transform: capitalize;
        .room {
          font-size: 14px;
          font-weight: 500;
        }
        .level {
          font-style: italic;
        }
      }
    }

    .tag {
      margin-left: 6px;
      padding: 2px 4px;
      font-size: 12px;
      border: 1px solid currentColor;
    }

    .speakers {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
    .speaker {
      display: flex;
      flex-direction: row;
      margin-bottom: 4px;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      .speaker-details {
        margin-left: 4px;
        .speaker-name {
          font-size: 14px;
          font-weight: 500;
        }
        .speaker-company {
          font-style: italic;
        }
      }
    }

    .session-footer {
      padding: 0 16px 6px;
      .session-meta {
      }
    }
  }
}

.popup-content {
  max-height: 70%;
  overflow-y: auto;
  border: 0 !important;
  padding: 0px !important;
  position: relative;
  border-radius: 5px;

  @media screen and (max-width: 30em) {
    width: 100% !important;
    border-radius: 0;
    height: calc(100% - 73px);
    margin-top: 73px !important;
    max-height: unset;
  }
}

.popup-header {
  background: $primary;
  padding: 24px;
  color: $white;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      border-right: 1px solid #fff;
      padding: 0 10px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border: 0;
      }
    }
  }
}

.popup-meta {
  padding: 24px;
  text-align: justify;
  font-size: 15px;
}

.popup-close {
  position: absolute;
  top: 3px;
  right: 10px;
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
