.talks,
.talk {
  &-container {
    margin-top: 64px;
    margin-bottom: 40px;

    &-content {
      display: flex;
      flex-wrap: wrap;

      &-item {
        position: relative;
        padding: 0 16px;
        height: auto;
        background: $red;
        color: $white;
        margin-top: 5px;

        .talks-container-content-item-talk-track {
          background: $yellow;
        }

        hr {
          color: $white;
          background-color: $white;
        }

        &.alternative {
          background: $yellow;

          .talks-container-content-item-talk-track {
            background: $red;
          }
          &:hover {
            background: lighten($yellow, 5%);
          }
        }

        &:nth-child(even) {
          background: $yellow;

          .talks-container-content-item-talk-track {
            background: $red;
          }
          &:hover {
            background: lighten($yellow, 5%);
          }

          &.alternative {
            background: $red;

            .talks-container-content-item-talk-track {
              background: $yellow;
            }
            &:hover {
              background: lighten($red, 5%);
            }
          }
        }

        &-picture {
          height: 100%;
          width: 100%;
          object-fit: cover;
          padding: 0;
          background: #2b2d43;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &:hover,
        &:focus,
        &:active {
          background: lighten($red, 5%);
          .talks-container-content-item {
            position: relative;
            // &:after {
            //   position: absolute;
            //   font-family: "FontAwesome";
            //   content: "\f07e";
            //   transition: flex 350ms;
            //   font-size: 18px;
            //   left: rem-calc(10px);
            //   top: 50%;
            // }
          }
          .talk-container-content-item-text {
            &:after {
              position: absolute;
              font-family: "FontAwesome";
              content: "\f066";
              transition: flex 350ms;
              font-size: 18px;
              left: rem-calc(10px);
              top: 5px;
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 12px 0;
          background-image: url($img-path+"svg/bdxio_pattern.svg");
          background-repeat: no-repeat;
          background-size: cover;
          transition: flex 350ms;
          height: rem-calc(245px);
          cursor: pointer;

          &-container {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
          }

          .icon {
            width: 20px;
            margin-right: 5px;
          }

          &-title {
            margin: 0 50px;
          }

          &-position {
            position: relative;
            top: 40px;
          }

          &-summary {
            overflow: hidden;
            padding: 0 8px;
            // display: -webkit-box;
            // -webkit-line-clamp: 3;
            // -webkit-box-orient: vertical;
            text-align: justify;
            text-align-last: center;
          }

          &-speaker{
         font-weight: bold;
          }

          h5 {
            font-weight: bold;
            padding: 0 8px;
          }

          .track {
            font-weight: bold;
          }

          &-socialNetwork {
            padding: 0 8px;
            color: $white;
            &:hover {
              opacity: 0.6;
              cursor: pointer;
            }
          }
        }

        &-large-text {
          height: auto;
        }

        &-talk-type {
          padding-left: 8px;

          &-small-tag {
            background-color: $primary;
            color: white;
            padding: 4px 20px;
            margin: 8px;
            height: 30px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background-color: rgba($primary, 0.8);
              cursor: pointer;
            }
          }

          &-tag {
            background-color: rgba($primary, 0.4);
            padding: 4px 20px;
            margin: 12px 0;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &:nth-child(even) {
          background: $yellow;
        }

        &-talk-track {
          position: absolute;
          background: $red;
          width: 50px;
          height: 50px;
          right: 0;

          &-img {
         padding: 8px;
          }

          &-label {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .flottant-right {
    width: 100%;
    overflow: hidden;
    position: absolute;

    @include breakpoint(medium down) {
      display: none;
    }

    img {
      position: relative;
      float: right;
      max-width: 22%;
      right: -9%;
      top: -4%;
    }
  }

  .flottant-left {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-top: rem-calc(350px);

    @include breakpoint(medium down) {
      display: none;
    }

    img {
      position: relative;
      float: left;
      max-width: 22%;
      left: -6%;
      top: 35%;
    }
  }
}

.margin-container {
  margin: 4px;
}

.track {
  margin: 24px;
}
