h4 {
  display: block;
  font-weight: bold;
  color: $primary;
}

.users-container {
  &-content {
    &-titleMember {
      margin-top: rem-calc(64px);
    }
  }

  .flottant-right {
    width: 100%;
    overflow: hidden;
    position: absolute;

    @include breakpoint(medium down) {
      display: none;
    }

    img {
      position: relative;
      float: right;
      max-width: 22%;
      right: -9%;
      top: -4%;
    }
  }

  .flottant-left {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-top: rem-calc(350px);

    @include breakpoint(medium down) {
      display: none;
    }

    img {
      position: relative;
      float: left;
      max-width: 22%;
      left: -6%;
      top: 35%;
    }
  }
}
