.button {
  border: none;
  background: $primary-light;
  color: #fff;
  padding: 12px 25px; 
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  display: block;

  &-primary {
    border: none;

    &--white {
      background-color: $light;
      color: $primary-dark;
    }

    &--light {
      background-color: $primary-light;
      color: $light;
    }

    &--grey {
      background-color: $dark-font;
      color: $light;
    }

    &--dark {
      background-color: $primary-dark;
      color: $light;
    }
  }

  &-secondary {
    background: none;
    border-style: solid;
    border-width: 2px;

    &--white {
      border-color: $light;
      color: $light;
    }

    &--light {
      border-color: $primary-light;
      color: $primary-light;
    }

    &--grey {
      border-color: $dark-font;
      color: $dark-font;
    }

    &--dark {
      border-color: $primary-dark;
      color: $primary-dark;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
