.bdx-button {
  border: none;
  background: $primary-light;
  color: #fff;
  padding: 0.9375rem 1.875rem; //15px 30px
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.375rem; //22px

  &:hover {
    background-position: right;
  }

  &.outlined,
  &.outlined-light {
    background: linear-gradient(to right, $dark-font 50%, transparent 50%);
    background-size: 200%;
    background-position: right;
    border: 2px solid $dark-font;
    color: $dark-font;
    font-weight: $font-weight-bold;
    mix-blend-mode: multiply;

    &.outlined-light {
      background-image: linear-gradient(to right, $light-font 50%, transparent 50%);
      border-color: $light-font;
      mix-blend-mode: lighten;
      color: $light-font;
    }

    &:hover {
      background-position: left;
      color: $light-font;

      &.outlined-light {
        color: $dark-font;
      }
    }
  }
}
