// Lato
@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("~/assets/fonts/Lato/Lato-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

// Merriweather
@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("~/assets/fonts/Merriweather/Merriweather-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}