footer {
  font-family: "Lato";
  background: $white;
  color: $black;
  display: flex;
  flex-direction: column;
  padding: 60px 35px;

  a {
    color: $black;
  }

  .bdxio {
    display: flex;
    margin-bottom: 60px;

    img {
      height: 61px;
      margin-right: 16px;
      margin-bottom: 25px;

      @include mobileFirst(s) {
        margin-bottom: 0;
      }
    }

    span {
      display: block;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-decoration: none;
      font-weight: $font-weight-bold;
      font-size: 23px;
      line-height: 42px;

      @include mobileFirst(s) {
        flex-direction: row;
        align-items: center;
      }

      @include mobileFirst(m) {
        font-size: 35px;
      }
    }
  }

  .content {
    display: grid;
    gap: 60px;

    grid-template-areas:
      "location"
      "contact"
      "social"
      "links"
      "newsletter";

    @include mobileFirst(s) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "location links contact"
        "social links newsletter";
    }
  }

  .newsletter {
    grid-area: newsletter;
    span {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background: url("~/assets/img/drawings/purple_envelope.png");
        width: 141px;
        height: 68px;
        top: 40px;
        right: 0;

        @include mobileFirst(s) {
          top: -60px;
          right: auto;
          left: -80px;
        }
      }
    }

    &__form {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include z-index(upper);
  
      &:before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background: #242457;
        opacity: 0.95;
        @include z-index(negative);
      }
  
      .label {
        color: $light;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .input {
        background: none;
        outline: 0;
        border: 0;
        padding-bottom: 5px;
        font-size: 24px;
        color: $primary-light;
        border-bottom: 1px solid $primary-light;
        text-align: center;
        margin: $spc-xxs 0 $spc-m 0;
        @include transition();
  
        &.filled {
          color: $yellow;
          border-bottom: 1px solid $yellow;
        }
  
        &::placeholder {
          padding-bottom: 5px;
          color: $primary-light;
          border-bottom: 1px solid $primary-light;
        }

        @include mobileFirst(m) {
          font-size: 30px;
        }
      }
  
      .button {
      }

      &__close {
        position: absolute;
        @include z-index(upper);
        right: $spc-m;
        top: $spc-m;
        cursor: pointer;
      }
    }
  }

  .location {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: location;

    .location-name {
      font-weight: $font-weight-bold;
      font-size: 24px;
      line-height: 29px;
    }
    .location-address {
      font-size: $font-size-content;
      line-height: 26px;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: contact;

    .email {
      font-size: $font-size-content;
      line-height: 36px;
    }
  }

  .social {
    display: flex;
    gap: 20px;
    grid-area: social;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(125, 125, 248, 0.23);
      color: $primary;
      border-radius: 4px;
      width: 40px;
      height: 40px;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    grid-area: links;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include mobileFirst(s) {
        display: initial;
      }

      li {
        &:not(:last-of-type) {
          margin-bottom: $spc-m;
        }
  
        a {
          color: $primary-dark;
          text-decoration: none;
  
          &.nuxt-link-exact-active {
            color: $primary-light;
          }
        }
    }


    }

    @include mobileFirst(m) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 8px;
    }
  }

  .legal {
    border-top: 1px solid $black;
    padding-top: 50px;
    margin-top: 100px;
    display: flex;
    gap: 40px;
    white-space: nowrap;
    flex-wrap: wrap;
  }

  small {
    font-size: 18px;
  }

  
}