@mixin grid-setup($nb-row, $nb-col) {
  grid-template-rows: repeat($nb-row, auto);
  grid-template-columns: repeat($nb-col, auto);
}

@for $i from 1 through 12 {
  @for $j from 1 through 12 {
    .bdx-grid-#{$i}-#{$j} {
      display: grid;
      @include grid-setup($i, $j);

    }
  }
}

@for $a from 1 through 12 {
  @for $b from 1 through 12 {
    .bdx-grid-el-#{$a}-#{$b} {
      grid-row-start: #{$a};
      grid-column-start: #{$b};
    }

    @for $c from $a through 12 {
      @for $d from $b through 12 {
        .bdx-grid-el-#{$a}-#{$b}-to-#{$c}-#{$d} {
          grid-row-start: #{$a};
          grid-row-end: #{$c};
          grid-column-start: #{$b};
          grid-column-end: #{$d};
        }
      }
    }
  }
}
