@keyframes toastAnimation {
  from {
    right: -100%;
  }
  25% {
    right: 0;
  }
 75% {
    right: 0;
  }
  to {
    right: -100%;
  }
}


.toast {
  position: fixed;
  right: -100%;
  @include z-index(upper);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem;
  pointer-events: none;
  overflow: hidden;

  &__item {
    background: $primary;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    transition: 0.3s;

    &--success {
      background: $green;
    }

    &--error {
      background: #e10600;
    }
  }

  &.active {
    animation: toastAnimation 3s ease-in-out;
  }
}