/////// BREAKPOINTS ///////
$primary: #4652f8;
$primary-light: #7d7df8;
$primary-dark: #242457;
$secondary: #fbdb33;
$light: #f6f2e8;
$light-font: #fff7ec;
$dark-font: #373739;
$grey-100: #F5F5F5;
$grey-200: #e3e3e3;
$grey-300: #F5F5F5;
$green: #19D2B1;
$red: #cc0625;
$yellow: #fac319;
$orange: #FF820F;
$white: #fff;
$black: #000;

/////// BREAKPOINTS ///////
$screen-xxs: 320px; // Extra Extra Small Devices, Phones
$screen-xs: 480px; // Extra Small Devices, Phones
$screen-s: 768px; // Small Devices, Tablets
$screen-m: 992px; // Medium Devices, Desktops
$screen-l: 1200px; // Intermediate Devices
$screen-xl: 1400px; // Small big
$screen-xxl: 1600px; // Medium big
$screen-xxxl: 1800px; // Large Big, Wide Screens

/////// SPACING ///////
$spc-xxs: 0.5rem; //8px
$spc-xs: 1rem; //16px
$spc-s: 1.5rem; //24px
$spc-m: 2rem; //32px
$spc-l: 2.5rem; //40px
$spc-xl: 3rem; //48px
$spc-xxl: 3.5rem; //56px
$spc-xxxl: 4rem; //64px

/////// FONTS ///////
$font-family-body: Lato, Helvetica Neue, Helvetica, Roboto, sans-serif;
$font-family-title: Merriweather, serif;
$font-size-title: 2.5rem; //40px
$font-size-content: 1.375rem; //22px
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-style-italic: italic;

/////// Z-INDEX ///////
$z-index: (
  upper: 9999,
  modal: 5,
  design: 4,
  absolute: 3,
  relative: 2,
  default: 1
);