@import "./normalize";
@import "./functions";
@import "./variables";
@import "./mixin";
@import "./grid";
@import "./button";

body {
  margin: 0;
  background: $light;
  font-family: $font-family-body;
  font-size: $font-size-content;
  font-size: $font-size-content;
  line-height: 34px;

}

h1 {
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-family: $font-family-title;
  font-size: $font-size-title;
  line-height: 50px;
}

main {
  min-height: calc(100vh - 18rem);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.background-primary {
  background: $primary;
}

.text-light {
  color: $light-font;

  & > * {
    color: $light-font;
  }
}

.text-dark {
  color: $dark-font;

  & > * {
    color: $dark-font;
  }
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-scale-over {
  transition: 0.3s;

  &:hover {
    transform: scale(1.4);
  }
}
