/////// COLORS ///////
$primary: #0e0b99;
$primary-light: #1b18b0;
$secondary: #4652f8;
$light: #f6f2e8;
$light-font: #fff7ec;
$dark-font: #373739;
$grey: #e3e3e3;
$red: #cc0625;
$yellow: #fac319;

/////// BREAKPOINTS ///////
$screen-xxs: 320px; // Extra Extra Small Devices, Phones
$screen-xs: 480px; // Extra Small Devices, Phones
$screen-sm: 768px; // Small Devices, Tablets
$screen-m: 992px; // Medium Devices, Desktops
$screen-l: 1200px; // Intermediate Devices
$screen-xl: 1400px; // Small big
$screen-xxl: 1600px; // Medium big
$screen-lg: 1800px; // Large Big, Wide Screens

/////// SPACING ///////
$spc-tiny: 0.5rem; //8px
$spc-x-small: 1rem; //16px
$spc-small: 1.5rem; //24px
$spc-medium: 2rem; //32px
$spc-large: 2.5rem; //40px
$spc-x-large: 3rem; //48px
$spc-xx-large: 3.5rem; //56px
$spc-xxx-large: 4rem; //64px
