<div id="home" class="theme2" itemscope itemtype="http://schema.org/Event">
    <div class="container main-title">
        <div class="col-xs-12 col-md-6">
            <h2>
                <span itemprop="description">
                    &#60;bdx.io edition="2014"&#62;<b>Merci !</b>&#60;/bdx.io&#62;
                </span>
            </h2>
            <p>
                Un grand merci à tous de votre participation à l'édition 2014 de bdx.io !<br/>
                Lors de cette édition, vous avez été très nombreux à nous soutenir et à nous encourager, et on compte bien remettre ça en 2015 !<br/><br/>
                A bientôt !
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            En bref, bdx.io <b>2014</b> c'etait :
            <h4 itemprop="startDate" content="2014-10-17T09:00"><img src="images/icon_calendar_white.png" class="icon" />Le 17 Octobre 2014</h4>
            <h4><img src="images/icon_event_white.png" class="icon" />SDBX4, Un évènement de la semaine digitale</h4>
            <h4 itemprop="location" itemscope itemtype="http://schema.org/Place">
                <img src="images/icon_pointer_white.png" class="icon" />
                À l'<span itemprop="name">ENSEIRB, Inst. polytechnique de Bordeaux</span>
            </h4>
            <h4 itemprop="startDate" content="2014-10-17T09:00"><img src="images/icon-coding-min.png" class="icon" />
                300 participants, dont 27 étudiants, 43 talks et 42 speakers
            </h4>
        </div>
    </div>
</div>
<div class="theme5" id="newsletter">
    <div class="container">
        <div class="col-xs-12 col-md-6">
            <h2>
                Vous souhaitez être tenu(e) informé(e) ?
            </h2>
        </div>
        <div class="col-xs-12 col-md-6 text-right">
            <h2>
                <a target="_blank" class="btn btn-primary btn-lg" role="button" href="https://docs.google.com/forms/d/1ZfLqPI2drGB9FwJgJeq5814jHvBj_siFs76QkEhQMGI/viewform?usp=send_form">Inscrivez-vous à la newsletter</a>
            </h2>
        </div>
    </div>
</div>

