<div id="partners" class="theme1">
    <div class="container">
        <div class="col-xs-12">
            <h1>Partenaires</h1>
            <hr />
            Chaque partenaire soutient financièrement la conférence.<br/>
            Sans ces sociétés, l'organisation de BDX.io n'aurait pas été possible : le prix de l'entrée aurait coûté plus
            cher, certains speakers ne pourraient pas être défrayés, le repas du midi ne pourrait pas être offert...<br/>
            N'hésitez donc pas à aller consulter le site de ces sociétés pour en savoir davantage sur elles.

            <div style="display:none">
                <!--
                 List of sponsor images
                 This is a hack allowing to workaround image minification and image externalized to
                 google spreadsheets
                -->
                <img id="capgemini" src="images/sponsors/Capgemini_logo_300dpi.png" />
                <img id="google" src="images/sponsors/Google_Logo_RGB_Color_flat_small.png" />
                <img id="neotec" src="images/sponsors/NeoTec.png" />
                <img id="yaal" src="images/sponsors/Yaal-rectangle-300x130.png" />
                <img id="lectra" src="images/sponsors/Lectra-rouge-gris.png" />
                <img id="sudouest" src="images/sponsors/Logo-sud-ouest-1200x1200.png" />
                <img id="arca" src="images/sponsors/Arca-big.png" />
                <img id="ezakus" src="images/sponsors/Ezakus-800wi.png" />
                <img id="sqli" src="images/sponsors/Sqli_group.png" />
            </div>
            <div ng-repeat="partnerLevel in partnerLevels">
                <h2 id="{{partnerLevel.anchorId}}">{{partnerLevel.title}}</h2>
                <hr />
                <div ng-repeat="company in partnerLevel.companies">
                    <a ng-href="{{company.website}}">
                        <img class="img-responsive" ng-src="{{company.imgSrc}}" style="{{company.imgStyle}}" />
                    </a>
                    <em class="partner-desc">
                        {{company.description}}
                    </em>
                </div>

                <div ng-show="{{noActivePartner(partnerLevel)}}">
                    <em>Les partenaires {{partnerLevel.title}} seront annoncés prochainement</em>
                </div>
                <div ng-show="{{someInactivePartnersComing(partnerLevel)}}" style="padding-top: 50px">
                    <em>D'autres partenaires {{partnerLevel.title}} seront annoncés prochainement</em>
                </div>
            </div>

            <h2 id="plaquette">Télécharger la plaquette</h2>
            Vous souhaitez faire parti des partenaires de l'évènement ?<br/>
            Vous pouvez télécharger la plaquette de l'évènement qui précise les différents pricings proposés.<br/>
            <a href="contents/Plaquette-2014.pdf"><img class="img-responsive brochure" src="images/img_brochure.png" /></a>
        </div>
    </div>
</div>
<div id="press" class="theme3">
    <div class="container">
        <div class="col-xs-12">
            <h1>Presse / Média</h1>
            <hr/>
            Un partenaire presse / média ne participe pas financièrement à l'évènement.<br/>
            En revanche, il use de sa notoriété pour faire connaître l'évènement et contribuer à ce que ce dernier
            rassemble un plus grand nombre de développeurs.
            <br/>
            <em>Les partenaires Presse/Média seront annoncés prochainement</em>
        </div>
    </div>
</div>
<div id="friends" class="theme2">
    <div class="container">
        <div class="col-xs-12">
            <h1>Nos amis & Communautés</h1>
            <hr/>
            Il s'agit là des associations / écoles / communautés qui ont participé de près ou de loin à l'organisation
            de l'évènement : par de la communication, des jurys du CFP, du hardware, du software, de l'hébergement etc..
            <ul class="friends-list">
                <li ng-repeat="friend in friends" itemscope itemtype="{{friend.itemType}}" class="friend">
                    <a href="{{friend.url}}">
                        <img class="unknown-partner hidden-xs"
                             style="background-image: url('{{friend.stdImage}}'); display: block; box-sizing: border-box; -moz-box-sizing: border-box; height: {{friend.stdImageHeight}}; width: {{friend.stdImageWidth}}; padding-left: {{friend.stdImageWidth}};"
                             onmouseout="this.style.backgroundImage=$(this).attr('std-image');"
                             onmouseover="this.style.backgroundImage=$(this).attr('std-hover-image');"
                             std-image="url({{friend.stdImage}})" std-hover-image="url({{friend.stdHoverImage}})"/>
                        <img class="unknown-partner visible-xs"
                             style="background-image: url('{{friend.mobileImage}}'); display: block; box-sizing: border-box; -moz-box-sizing: border-box; height: {{friend.mobileImageHeight}}; width: {{friend.mobileImageWidth}}; padding-left: {{friend.mobileImageWidth}};"
                             onmouseout="this.style.backgroundImage=$(this).attr('mobile-image');"
                             onmouseover="this.style.backgroundImage=$(this).attr('mobile-hover-image');"
                             mobile-image="url({{friend.mobileImage}})" mobile-hover-image="url({{friend.mobileHoverImage}})"/>
                    </a>
                    <span class="hidden">{{friend.label}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
