<div id="partners" class="theme1">
    <div class="container">
        <div class="col-xs-12">
            <h1>Partenaires</h1>
            <hr />
            Chaque partenaire soutient financièrement la conférence.<br/>
            Sans ces sociétés, l'organisation de BDX.io n'aurait pas été possible : le prix de l'entrée aurait coûté plus
            cher, certains speakers ne pourraient pas être défrayés, le repas du midi ne pourrait pas être offert...<br/>
            N'hésitez donc pas à aller consulter le site de ces sociétés pour en savoir davantage sur elles.
            <h2 id="gold">Gold</h2>
            <hr />
            <em>Les partenaires Gold seront annoncés prochainement</em>
            <h2 id="silver">Silver</h2>
            <hr />
            <em>Les partenaires Silver seront annoncés prochainement</em>
            <h2 id="bronze">Bronze</h2>
            <hr />
            <em>Les partenaires Bronze seront annoncés prochainement</em>
            <hr />
            <h2 id="plaquette">Télécharger la plaquette</h2>
            Vous souhaitez faire parti des partenaires de l'évènement ?<br/>
            Vous pouvez télécharger la plaquette de l'évènement qui précise les différents pricings proposés.<br/>
            <a href="contents/Plaquette-2014.pdf"><img class="img-responsive brochure" src="images/img_brochure.png" /></a>
        </div>
    </div>
</div>
<div id="press" class="theme3">
    <div class="container">
        <div class="col-xs-12">
            <h1>Presse / Média</h1>
            <hr/>
            Un partenaire presse / média ne participe pas financièrement à l'évènement.<br/>
            En revanche, il use de sa notoriété pour faire connaître l'évènement et contribuer à ce que ce dernier
            rassemble un plus grand nombre de développeurs.
            <br/>
            <em>Les partenaires Presse/Média seront annoncés prochainement</em>
        </div>
    </div>
</div>
<div id="friends" class="theme2">
    <div class="container">
        <div class="col-xs-12">
            <h1>Nos amis & Communautés</h1>
            <hr/>
            Il s'agit là des associations / écoles / communautés qui ont participé de près ou de loin à l'organisation
            de l'évènement : par de la communication, des jurys du CFP, du hardware, du software, de l'hébergement etc..
            <ul class="friends-list">
                <li itemscope itemtype="http://schema.org/CollegeOrUniversity" class="friend">
                    <a href="http://www.enseirb-matmeca.fr/"><img class="partner-enseirb" /></a>
                    <span class="hidden" itemprop="name">ENSEIRB MATMECA</span>
                </li>
            </ul>
        </div>
    </div>
</div>
