<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BDX.io - Bordeaux Developer eXperience</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name=”twitter:site” content=”@bdxio”>
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body ng-app="bdxioModule">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="navbar navbar-default margin-less theme1 navbar-fixed-top" role="banner" role="navigation" itemscope itemtype="https://schema.org/WPHeader">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" /></a>
            </div>
            <div class="collapse navbar-collapse" id="collapsed-navbar">
                <ul class="nav navbar-nav nav-menu">
                    <li class="dropdown">
                        <a href=""  ng-click="goto('/home')" class="first dropdown-toggle navbar-item" data-toggle="dropdown">Accueil <b class="caret"></b></a>
                        <a href="#!/home" style="display:none">Accueil</a><!-- For indexation crawlers only -->
                        <ul class="dropdown-menu">
                            <li><a ng-click="goto('/home', 'logistic')" class="navbar-item">Logistique</a></li>
                            <li><a ng-click="goto('/home', 'themes')" class="navbar-item">Thèmes</a></li>
                            <li><a ng-click="goto('/home', 'newsletter')" class="navbar-item">News</a></li>
                            <li><a ng-click="goto('/home', 'billetterie')" class="navbar-item">Billetterie</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" ng-click="goto('/partners')" class="dropdown-toggle navbar-item" data-toggle="dropdown">Partenaires <b class="caret"></b></a>
                        <a href="#!/partners" style="display:none">Partenaires</a><!-- For indexation crawlers only -->
                        <ul class="dropdown-menu">
                            <li><a ng-click="goto('/partners', 'gold')" class="navbar-item">Gold</a></li>
                            <li><a ng-click="goto('/partners', 'silver')" class="navbar-item">Silver</a></li>
                            <li><a ng-click="goto('/partners', 'bronze')" class="navbar-item">Bronze</a></li>
                            <li><a ng-click="goto('/partners', 'plaquette')" class="navbar-item">La Plaquette</a></li>
                            <li><a ng-click="goto('/partners', 'press')" class="navbar-item">Presse / Média</a></li>
                            <li><a ng-click="goto('/partners', 'friends')" class="navbar-item">Nos amis</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" ng-click="goto('/people')" class="dropdown-toggle navbar-item" data-toggle="dropdown">Participants <b class="caret"></b></a>
                        <a href="#!/people" style="display:none">Participants</a><!-- For indexation crawlers only -->
                        <ul class="dropdown-menu">
                            <li><a ng-click="goto('/people', 'orgas')" class="navbar-item">Orgas</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.twitter.com/bdxio">
                            <img class="twitter-icon" />
                            <span class="visible-xs">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/bdxio">
                            <img class="facebook-icon" />
                            <span class="visible-xs">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="{{genMailTo('team')}}">
                            <img class="contact-icon" />
                            <span class="visible-xs">Mail</span>
                        </a>
                    </li>
                </ul>
            </div>
          </div>
        </header>

        <div ng-view></div>

        <footer class="theme4" itemscope itemtype="https://schema.org/WPFooter">
            <div class="container">
                <div class="col-xs-12 col-md-6">
                    <a class="navbar-brand" href="#"><img class="footer-logo" /></a>
                    <a href="https://twitter.com/bdxio" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @bdxio</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
                <div class="col-xs-12 col-md-6 copyright">
                    © Copyright
                    <span itemprop="copyrightYear">2014</span>
                    <span itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Organization">
                        <span itemprop="name">BDX.io</span>
                    </span>
                    - Tous droits réservés
                </div>
            </div>
        </footer>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50374424-1', 'bdx.io');
            ga('send', 'pageview');
        </script>
        <script>
// //          $(function(){
// //              // Fixing anchor links hiding fixed top header
// //              // See https://github.com/twbs/bootstrap/issues/1768
// //              var shiftWindow = function() {
// //                  var bodyPaddingTop = $("body").css("padding-top");
// //                  scrollBy(0, -parseInt(bodyPaddingTop, 10));
// //              };
// //              $(window).on("hashchange", shiftWindow);
// //              if(window.location.hash) {
// //                  shiftWindow();
// //              }
// //          });
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/controllers.js"></script>
        <!-- endbuild -->
</body>
</html>
