// ~ FAQ
// ====================================================================== >

// ~ ==== General

// ~ ==== FAQ Gold

.faq-gold-content {
  background-color: $gold;
}

// ~ ==== FAQ Silver

.faq-silver-content {
  background-color: $silver;
}

// ~ ==== FAQ Bronze

.faq-bronze-content {
  background-color: $bronze;
}

