// ~ PROGRAM
// ====================================================================== >

.cfp-program {

  // General Skin

  .column {
    display:inline;
  }

  // Filter Bar

  .track-selector, .day-selector {
    padding-top: 10px;
    cursor: pointer;
  }

  .container-day-selector {

  }

  .container-track-selector {
    display: inline-block;

    .track-selector {
      display: inline-block;
      padding: 5px 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      border-radius: 50px;
      border: 1px solid $light-grey;
      color: $light-grey;
      font-weight: bold;

      &.select {
        background: linear-gradient(219deg, #cf1633, #027d8e);
        background-size: 400% 400%;
        color: white;
        border: none;
        -webkit-animation: gradient-animation 7s ease infinite;
        -moz-animation: gradient-animation 7s ease infinite;
        animation: gradient-animation 7s ease infinite;
      }

      i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  // Table Program


}