// ~ PROGRAM
// ====================================================================== >

// General Skin Program

.cfp-program {
  .column { display:inline;}
}

// Filter Bar Program

.track-selector, .day-selector {
  padding-top: 10px;
  cursor: pointer;
}

.container-track-selector {
  display: inline-block;

  .track-selector {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid $light-grey;
    color: $light-grey;
    font-weight: bold;

    &.select {
      background: linear-gradient(219deg, #cf1633, #027d8e);
      background-size: 400% 400%;
      color: white;
      border: none;
      -webkit-animation: gradient-animation 7s ease infinite;
      -moz-animation: gradient-animation 7s ease infinite;
      animation: gradient-animation 7s ease infinite;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

// Table Program

.container-table-program {
  display: inline-table;
  width: 100%;
  margin-top: 30px;
  padding: 0 40px;

  .program-header {
    background-color: $secondary;
    color: white;
  }

  .day, .time {
    display: inline-table;
    text-align: center;
    height: 100%;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  .day { background-color: darken($secondary, 4%);}

  .time {
    background-color: $dark-grey;
    border-bottom: 1px solid lighten($dark-grey, 5%);

    i {
      float: left;
    }
  }

  .prez {
    display: inline-table;
    border: 1px solid $white-grey;
    border-collapse: collapse;
    text-align: center;
  }

  .large-item {
    display: inline-block;
    width: 20%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}