<footer class="theme4 navbar-fixed-bottom" itemscope itemtype="https://schema.org/WPFooter" >
    <div class="container">
        <div class="col-xs-12 col-md-4">
            <a class="navbar-brand" href="#"><img class="footer-logo" /></a>
            <a href="https://twitter.com/bdxio" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @bdxio</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="col-xs-12 col-md-4">
            &nbsp;
        </div>
        <div class="col-xs-12 col-md-4 copyright">
            © Copyright
            <span itemprop="copyrightYear">2014-2015</span>
                    <span itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Organization">
                        <span itemprop="name">BDX.io</span>
                    </span>
            - Tous droits réservés
        </div>
    </div>
</footer>
