<header class="navbar navbar-default margin-less theme1 navbar-fixed-top" role="banner" role="navigation" itemscope itemtype="https://schema.org/WPHeader">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" /></a>
        </div>
        <div ng-include="'templates/partials/navbar.html'"></div>
    </div>
    <div class="collapse navbar-collapse" id="collapsed-navbar">
        <ul class="nav navbar-nav nav-menu"></ul>
    </div>
</header>