<div class="collapse navbar-collapse" id="collapsed-navbar">
    <ul class="nav navbar-nav nav-menu">
        <!--<li class="dropdown">-->
            <!--<a href=""  ng-click="goto('/home')" class="first dropdown-toggle navbar-item" data-toggle="dropdown">Accueil <b class="caret"></b></a>-->
            <!--<a href="#!/home" style="display:none">Accueil</a>&lt;!&ndash; For indexation crawlers only &ndash;&gt;-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a ng-click="goto('/home', 'logistic')" class="navbar-item">Logistique</a></li>-->
                <!--<li><a ng-click="goto('/home', 'themes')" class="navbar-item">Thèmes</a></li>-->
                <!--<li><a ng-click="goto('/home', 'newsletter')" class="navbar-item">News</a></li>-->
                <!--<li><a ng-click="goto('/home', 'billetterie')" class="navbar-item">Billetterie</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
            <!--<a href="" ng-click="goto('/partners')" class="dropdown-toggle navbar-item" data-toggle="dropdown">Partenaires <b class="caret"></b></a>-->
            <!--<a href="#!/partners" style="display:none">Partenaires</a>&lt;!&ndash; For indexation crawlers only &ndash;&gt;-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a ng-click="goto('/partners', 'gold')" class="navbar-item">Gold</a></li>-->
                <!--<li><a ng-click="goto('/partners', 'silver')" class="navbar-item">Silver</a></li>-->
                <!--<li><a ng-click="goto('/partners', 'bronze')" class="navbar-item">Bronze</a></li>-->
                <!--<li><a ng-click="goto('/partners', 'plaquette')" class="navbar-item">La Plaquette</a></li>-->
                <!--<li><a ng-click="goto('/partners', 'press')" class="navbar-item">Presse / Média</a></li>-->
                <!--<li><a ng-click="goto('/partners', 'friends')" class="navbar-item">Nos amis</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
            <!--<a href="" ng-click="goto('/people')" class="dropdown-toggle navbar-item" data-toggle="dropdown">Participants <b class="caret"></b></a>-->
            <!--<a href="#!/people" style="display:none">Participants</a>&lt;!&ndash; For indexation crawlers only &ndash;&gt;-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a ng-click="goto('/people', 'speakers')" class="navbar-item">Speakers</a></li>-->
                <!--<li><a ng-click="goto('/people', 'orgas')" class="navbar-item">Orgas</a></li>-->
                <!--<li><a ng-click="goto('/people', 'jury')" class="navbar-item">Jurys CFP</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
            <!--<a href="" class="dropdown-toggle navbar-item" data-toggle="dropdown">Programme <b class="caret"></b></a>-->
            <!--<a href="#!/program" style="display:none">Programme</a>&lt;!&ndash; For indexation crawlers only &ndash;&gt;-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a ng-click="goto('/people', 'speakers')" class="navbar-item">Speakers</a></li>-->
                <!--<li><a href="http://lanyrd.com/2014/bdxio/schedule/" class="navbar-item">Lanyrd</a></li>-->
                <!--<li><a href="http://app.voxxr.in/" class="navbar-item">Voxxrin</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="http://www.twitter.com/bdxio">
                <img class="twitter-icon" />
                <span class="visible-xs">Twitter</span>
            </a>
        </li>
        <li>
            <a href="http://lanyrd.com/2014/bdxio/">
                <img class="lanyrd-icon" />
                <span class="visible-xs">Lanyrd</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/bdxio">
                <img class="facebook-icon" />
                <span class="visible-xs">Facebook</span>
            </a>
        </li>
        <li>
            <a ng-href="{{genMailTo('team')}}">
                <img class="contact-icon" />
                <span class="visible-xs">Mail</span>
            </a>
        </li>
    </ul>
</div>