<div class="collapse navbar-collapse" id="collapsed-navbar">
    <ul class="nav navbar-nav nav-menu">
        <li class="dropdown">
            <a href=""  ng-click="goto('/home')" class="first dropdown-toggle navbar-item" data-toggle="dropdown">Accueil <b class="caret"></b></a>
            <a href="#!/home" style="display:none">Accueil</a><!-- For indexation crawlers only -->
        </li>

        <li class="dropdown">
            <a href="" ng-click="goto('/partners')" class="dropdown-toggle navbar-item" data-toggle="dropdown">Partenaires <b class="caret"></b></a>
            <a href="#!/partners" style="display:none">Partenaires</a><!-- For indexation crawlers only -->
            <ul class="dropdown-menu">
                <li><a ng-click="goto('/partners', 'gold')" class="navbar-item">Gold</a></li>
                <li><a ng-click="goto('/partners', 'silver')" class="navbar-item">Silver</a></li>
                <li><a ng-click="goto('/partners', 'bronze')" class="navbar-item">Bronze</a></li>
                <li><a ng-click="goto('/partners', 'plaquette')" class="navbar-item">La Plaquette</a></li>
                <li><a ng-click="goto('/partners', 'press')" class="navbar-item">Presse / Média</a></li>
                <li><a ng-click="goto('/partners', 'friends')" class="navbar-item">Nos amis</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="" class="dropdown-toggle navbar-item" data-toggle="dropdown">Participants <b class="caret"></b></a>
            <a href="#!/people" style="display:none">Participants</a><!-- For indexation crawlers only -->
            <ul class="dropdown-menu">
                <li><a ng-click="goto('/people', 'speakers')" class="navbar-item">Speakers</a></li>
                <li><a ng-click="goto('/people', 'orgas')" class="navbar-item">Orgas</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="" class="dropdown-toggle navbar-item" data-toggle="dropdown">FAQ <b class="caret"></b></a>
            <a href="#!/faq" style="display:none">FAQ</a><!-- For indexation crawlers only -->
            <ul class="dropdown-menu">
                <li><a ng-click="goto('/faq', 'sponsoring')" class="navbar-item">Sponsors</a></li>
                <li><a ng-click="goto('/faq', 'speakers')" class="navbar-item">Speakers</a></li>
                <li><a ng-click="goto('/faq', 'participants')" class="navbar-item">Participants</a></li>
                <li><a ng-click="goto('/faq', 'jury')" class="navbar-item">Jury</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="http://cfp.bdx.io" class="navbar-item">CFP</a>
        </li>

        <li class="dropdown">
            <a href="http://bdx.io/2014" class="navbar-item">bdx.io - 2014</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="http://www.twitter.com/bdxio">
                <img class="twitter-icon" />
                <span class="visible-xs">Twitter</span>
            </a>
        </li>
        <li>
            <a href="http://lanyrd.com/2015/bdxio/">
                <img class="lanyrd-icon" />
                <span class="visible-xs">Lanyrd</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/bdxio">
                <img class="facebook-icon" />
                <span class="visible-xs">Facebook</span>
            </a>
        </li>
        <li>
            <a ng-href="{{genMailTo('team')}}">
                <img class="contact-icon" />
                <span class="visible-xs">Mail</span>
            </a>
        </li>
    </ul>
</div>
