<div class="row col-sm-12" ng-repeat="item in news" style="color: black;">

    <div class="panel panel-info">

        <div class="panel-body">
            <div class="row">
                <span style="padding-left: 10px">{{ item.date }} - "{{ item.title }}"</span>
            </div>

        </div>
        <div class="panel-footer">
            <img ng-src="{{ item.picture }}" style="width:100px" class="col-sm-1"/>

            <div ng-bind-html="item.htmlContent"></div>
        </div>

    </div>


</div>