<carousel elements="news">

    <div ng-repeat="item in news" class="post">

        <div style="height: 150px">
            <img class="content-img-new" ng-src="{{ item.picture }}"/>
        </div>

        <h2>{{ item.title }} </h2>

        <p ng-bind-html="item.htmlContent"></p>

        <span class="date-new">Le : {{ item.date }}</span>

        <a ng-href="/#/news/{{ item.id }}">
            <button class="btn-new" ng-click="display(item)"><i>></i> Lire +</button>
        </a>
    </div>

</carousel>
