$text-color:                                      #525356 !default;

$primary :                                        #2b2d42 !default;
$gradient:                                linear-gradient(45deg, #cc0625 0%, #fac319 100%);

$red :                                            #cc0625 !default;
$yellow :                                         #fac319 !default;
$green :                                          #4dbb4d !default;

$grey-line:                                       1px solid rgba(0, 0, 0, 0.1) !default;
$grey-special:                                    #8193ab !default;
$grey-white:                                      #f3f3f3 !default;
$grey-very-light:                                 #d8e1f0 !default;
$grey-light:                                      #cdcccc !default;
$grey:                                            #939baa !default;
$grey-dark:                                       #39414a !default;
$white:                                           #FFFFFF !default;
$white-grey:                                      #F4F7FC !default;

$container-block:                                 #f8f5f4 !default;
$separator-color:                                 $grey-white !default;


//FONTS and PATHS
// ===================================================================

// ==== FONTS

// ==== PATHS
$img-path :                                     '/img/' !default;
$font-path :                                    '/fonts/' !default;
$fa-font-path:                                  '~font-awesome/fonts' !default;

$enable-flex:true;