// ~ HELPERS
// ====================================================================== >

.font-italic {
  font-style: italic !important;
}

.highlight-text-italic {
  font-style: italic;
}

.font-bold {
  font-weight: 400 !important;
}

.highlight-text-bold {
  font-weight: bold;
}

.font-norm {
  font-weight: 300 !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.full-height {
  height: 100%;
}

.element-centered {
  margin: 0 auto;
}

.pos-relative {
  position: relative;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.dspl-inbl {
  display: inline-block;

  &.top { vertical-align: top;}
  &.middle { vertical-align: middle;}
  &.bottom { vertical-align: bottom;}
}

.force-dspl-inbl {
  display: inline-block !important;
}

.dspl-block {
  display: block;
}

.force-dspl-block {
  display: block !important;
}

.vert-align-top {
  vertical-align: top;
}

.vert-align-middle {
  vertical-align: middle;
}

.vert-align-bottom {
  vertical-align: bottom;
}

.clear-line-height {
  display: inline-block;
  line-height: normal !important;
}

.clear-float {
  clear: both;
  visibility: hidden;
  margin: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.force-no-padding {
  padding: 0 !important;
}


.clickable-area {
  cursor: pointer;
}

.fix-width-btn {

  .label-btn {
    display: inline-block;
    vertical-align: sub;
    overflow: hidden;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// ~ Margin helper
$spacing-value : 0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40;

@each $value in $spacing-value {
  .space-top-#{$value} {
    margin-top: #{$value/10}rem;
  }
  .space-right-#{$value} {
    margin-right: #{$value/10}rem;
  }
  .space-bottom-#{$value} {
    margin-bottom: #{$value/10}rem;
  }
  .space-left-#{$value} {
    margin-left: #{$value/10}rem;
  }
  .force-space-top-#{$value} {
    margin-top: #{$value/10}rem !important;
  }
  .force-space-right-#{$value} {
    margin-right: #{$value/10}rem !important;
  }
  .force-space-bottom-#{$value} {
    margin-bottom: #{$value/10}rem !important;
  }
  .force-space-left-#{$value} {
    margin-left: #{$value/10}rem !important;
  }
}

// ~ Padding helper
$inner-spacing-value : $spacing-value;

@each $value in $inner-spacing-value {
  .inner-space-top-#{$value} {
    padding-top: #{$value/10}rem;
  }
  .inner-space-right-#{$value} {
    padding-right: #{$value/10}rem;
  }
  .inner-space-bottom-#{$value} {
    padding-bottom: #{$value/10}rem;
  }
  .inner-space-left-#{$value} {
    padding-left: #{$value/10}rem;
  }
  .force-inner-space-top-#{$value} {
    padding-top: #{$value/10}rem !important;
  }
  .force-inner-space-right-#{$value} {
    padding-right: #{$value/10}rem !important;
  }
  .force-inner-space-bottom-#{$value} {
    padding-bottom: #{$value/10}rem !important;
  }
  .force-inner-space-left-#{$value} {
    padding-left: #{$value/10}rem !important;
  }
}

// ~ Min width helper
$min-width-value : 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300;

@each $value in $min-width-value {
  .min-width-#{$value} {
    min-width: #{$value/10}rem;
  }
}

// ~ Max width helper
$max-width-value : 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500;

@each $value in $max-width-value {
  .max-width-#{$value} {
    max-width: #{$value/10}rem;
  }
}

// ~ Min height helper
$min-height-value : $min-width-value;

@each $value in $min-height-value {
  .min-height-#{$value} {
    min-height: #{$value/10}rem;
  }
}