// ==== Define Fonts ==== //
$text-font :                                  'Dosis', sans-serif !default;

// ==== Define Colors ==== //

$primary :                                    #cf1633 !default;
$primary-dark :                               #a20f26 !default;

$secondary :                                  #027d8e !default;
$secondary-dark :                             #025d6a !default;

$gold :                                       #fec149 !default;
$silver :                                     #c7c8ca !default;
$bronze :                                     #f26221 !default;

$white-grey :                                 #f2f2f2 !default;
$light-grey :                                 #a4a4a4 !default;
$medium-grey :                                #5c5c5c !default;
$dark-grey :                                  #434343 !default;

// = Fonts color

$body-font-color :                            #8e8e8e !default;

// ================ //
// Variables HEADER
// ================ //

// === Define colors

$header-color-border :                        darken($white-grey, 6%);
$link-color-nav-menu :                        $light-grey;

// === Define base metrics

$height-top-header :                          30px !default;
$height-nav-header :                          70px !default;
