.section-themes {
  color: $primary-dark;
  background-color: $white;

  .title {
    @include positionRelative;
    margin-right: 20px;

    &:before {
      content: "";
      position: absolute;
      @include z-index(negative);
      top: -37px;
      left: -19px;
      width: 110px;
      height: 60px;

      background: url("/images/drawings/cyan_scribble_2.png") center no-repeat;
      background-size: contain;

      @include mobileFirst(m) {
        top: -20px;
        left: -50px;
        width: 120px;
        height: 70px;
      }
    }
  }

  .theme {
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    margin: 0 30px;
  }

  .items {
    gap: $spc-m;
    display: flex;
    overflow: auto;
    align-items: center;
    padding: $spc-xl $spc-l;

    @include positionRelative;

    @include mobileFirst(m) {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      padding: $spc-l $spc-s $spc-l $spc-xxl;
      overflow: hidden;

      &:after {
        content: "";
        @include z-index(negative);
        width: 140px;
        height: 140px;
        position: absolute;
        bottom: 114px;
        right: -10px;
        background: url("/images/drawings/yellow_citation.png") center no-repeat;
        background-size: contain;
      }
    }

    @include mobileFirst(xxl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .theme-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-weight: 700;
    background-color: $white;

    @include mobileFirst(m) {
      height: 136px;
    }

    .theme {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 30px 0;
      line-height: 30px;
      &--1 {
        background-image: url("/images/drawings/themes/theme-1.png");
      }
      &--2 {
        background-image: url("/images/drawings/themes/theme-2.png");
      }
      &--3 {
        background-image: url("/images/drawings/themes/theme-3.png");
      }
      &--4 {
        background-image: url("/images/drawings/themes/theme-4.png");
      }
      &--5 {
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.4;
          z-index: -1;
          background-image: url("/images/drawings/themes/theme-5.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      &--6 {
        background-image: url("/images/drawings/themes/theme-6.png");
      }
      &--7 {
        background-image: url("/images/drawings/themes/theme-7.png");
      }
    }
  }

  .themes {
    display: flex;
    gap: 20px;
  }
}
