<div ng-controller="FAQController">

    <div id="faq" class="theme1">
        <div class="container">

            <div class="row col-xs-12">
                <h2 id="sponsoring" class="faq-section-title">Sponsors</h2>

                <div class="faq-section-summary">
                    L’association BDX.IO, organisatrice de l’événement, est composée exclusivement de bénévoles dont
                    l’ambition est de créer l’événement fédérateur des développeurs de la région.
                    Devenir partenaire de BDX.IO c’est l’occasion unique de toucher un public parfaitement ciblé et
                    d’associer votre image avec une conférence majeure des développeurs.
                </div>
                <div class="faq-section-content">

                    <p class="faq-question">> Comment puis-je télécharger la plaquette ?</p>
                    <p class="faq-answer">
                        La plaquette est disponible au téléchargement <a target="_blank" href="https://drive.google.com/open?id=0B4dd7yiSQUZyMzc2QnpIU2NzT2s&authuser=0">ici</a>.
                    </p>
                    <p class="faq-question">> Comment puis-je télécharger la convention de sponsoring ?</p>
                    <p class="faq-answer">
                        <!--TODO--> En cours...
                    </p>
                </div>
            </div>

            <div class="row col-xs-12">
                <h2 id="speakers" class="faq-section-title">Speakers</h2>

                <!--<div class="faq-section-summary">-->

                <!--</div>-->
                <div class="faq-section-content">

                    <p class="faq-question">> Quelle est la composition du Jury ?</p>
                    <p class="faq-answer">
                        Le jury est un collège representatif des différentes communautés bordelaises qui va voter et
                        sélectionner des talks sur différents
                        critères. Les membres du jury sont invités à la conférence et au repas des speakers.
                        Un jury ne peut pas être speaker.
                    </p>

                    <p class="faq-question">> En tant que speaker, suis-je défrayé ?</p>
                    <p class="faq-answer">
                        <!--TODO--> En cours...
                    </p>

                </div>
            </div>

            <div class="row col-xs-12">
                <h2 id="participants" class="faq-section-title">Participants</h2>

                <!--<div class="faq-section-summary">-->

                <!--</div>-->
                <div class="faq-section-content">

                    <p class="faq-question">> Comment puis-je me rendre à la conférence ?</p>
                    <p class="faq-answer">
                        La conférence se déroulera à <b>l'ENSEIRB-MATMECA</b> qui se situe sur le campus universitaire de Talence.
                        <br/>
                        Voici un plan d'accès :
                        <div class="row">&nbsp;</div>
                        <img class="img-responsive" src="images/ENSEIRB - Venue.png" alt="ENSEIRB - Venue"/>
                    </p>

                    <p class="faq-question">> Comment puis-je acheter un billet ? Quels sont les différents pricings ?</p>
                    <p class="faq-answer">
                        <!--TODO--> En cours...
                    </p>

                    <p class="faq-question">> La conférence bdx.io - 2015 est elle éligible à la formation professionnelle / DFP ?</p>
                    <p class="faq-answer">
                        <!--TODO--> En cours ...
                    </p>

                </div>
            </div>

            <div class="row col-xs-12">
                <h2 id="jury" class="faq-section-title">Jury</h2>

                <div class="faq-section-summary">
                   Nous avons, comme pour l'édition précédente, sollicité les membres des différentes communautés techniques bordelaises pour constituer le jury bdx.io.
                   Le rôle des membres du jury est de selectionner les talks qui seront présentés lors de la prochaine édition.
                </div>
                <div class="faq-section-content">
                    <p class="faq-question">> Quelles sont les règles ?</p>
                    <div class="faq-answer">

            			Pour être membre du jury, il faut remplir les conditions suivantes :
            			<ul>
            			<li>Avoir voté pour au moins 85% des conférences (sur le site du CFP)</li>
            			<li>Ne pas avoir proposé de sujet à la conférence.</li>
            			<li>Etre présent à la réunion du choix des talks.</li>
            			</ul>
            			Vous aurez droit à :
            			<ul>
            			<li>1 Place offerte à la conférence.</li>
            			<li>1 Place offerte au repas des speakers.</li>
            			</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
