<div ng-controller="FAQController">

    <div id="faq" class="theme1">
        <div class="container">

            <div class="row col-xs-12">
                <h2 id="sponsoring" class="faq-section-title">Sponsors</h2>

                <div class="faq-section-summary">
                    L’association BDX.IO, organisatrice de l’événement, est composée exclusivement de bénévoles dont
                    l’ambition est de créer l’événement fédérateur des développeurs de la région.
                    Devenir partenaire de BDX.IO c’est l’occasion unique de toucher un public parfaitement ciblé et
                    d’associer votre image avec une conférence majeure des développeurs.
                </div>
                <div class="faq-section-content">

                    <p class="faq-question">> Comment puis-je télécharger la plaquette ?</p>
                    <p class="faq-answer">
                        La plaquette est disponible au téléchargement <a target="_blank" href="/contents/Plaquette-2015.pdf">ici</a>.
                    </p>
                </div>
            </div>

            <div class="row col-xs-12">
                <h2 id="speakers" class="faq-section-title">Speakers</h2>

                <div class="faq-section-summary">
                    Toutes les informations pratiques nécessaires aux speakers.
                </div>
                <div class="faq-section-content">

                    <p class="faq-question">> Quelles sont les modalités ?</p>
                    <div class="faq-answer">
                        En tant que speakers, votre place vous est, bien entendu, offerte ! On vous invite également au repas des speakers qui se déroulera
                        la veille de l'evenement : une bonne soirée en perspective avant le grand jour !
                        <br/>
                        Dès votre participation au CFP, nous vous reservons une place Early Bird dans le cas où votre proposition ne serait pas retenue, donc pas besoin de reserver votre place :) !
                    </div>
                    <br/>

                    <p class="faq-question">> Comment puis-je soumettre une proposition de talk ?</p>
                    <div class="faq-answer">
                        Pour proposer un talk, il est nécessaire de s'inscrire sur le <a target="_blank" href="http://cfp.bdx.io">CFP</a>.
                        Les propositions sur le CFP sont ouvertes jusqu'à la fin Juillet, alors depechez-vous ! :)
                    </div>

                    <br/>

                    <p class="faq-question">> Quelles sont les différentes typologies de talk ?</p>
                    <div class="faq-answer">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Durée</th>
                                <th>Lieu</th>
                                <th>Quand ?</th>
                                <th>Nombre de slots</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Conférence</td>
                                <td>50 minutes (questions incluses)</td>
                                <td>Amphitheatre (~150 personnes)</td>
                                <td>Matin & Après-midi</td>
                                <td>20 - 24</td>
                                <td>Présentation magistrale sur un sujet donné</td>
                            </tr>
                            <tr>
                                <td>Lightning Talk</td>
                                <td>15 minutes</td>
                                <td>Amphitheatre (~150 personnes)</td>
                                <td>12h - 14h</td>
                                <td>16 - 20</td>
                                <td>Présentation rapide/éclair, discussions, sur un sujet donné</td>
                            </tr>
                            <tr>
                                <td>Hand's on</td>
                                <td>1 heure 50 minutes</td>
                                <td>Salle de TD (~30 personnes)</td>
                                <td>Matin & Après-midi</td>
                                <td>3</td>
                                <td>Atelier. Les participants viennent avec leur laptop et peuvent pratiquer en même temps que le speaker.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<p class="faq-question">> En tant que speaker, suis-je défrayé ?</p>-->
                    <!--<p class="faq-answer">-->
                        <!--&lt;!&ndash;TODO&ndash;&gt; En cours...-->
                    <!--</p>-->

                </div>
            </div>

            <div class="row col-xs-12">
                <h2 id="participants" class="faq-section-title">Participants</h2>

                <div class="faq-section-summary">
                    Toutes les informations pratiques nécessaires aux participants.
                </div>
                <div class="faq-section-content">

                    <p class="faq-question">> Comment puis-je acheter un billet ? Quels sont les différents pricings ?</p>
                    <div class="faq-answer">
                        L'achat des billets est possible ici (également intégré sur la page d'accueil du site bdx.io).

                        <div style="padding: 15px 0 15px 0">
                            <div class="visible-lg ticketing-button" ng-include="'templates/partials/ticketing-button-faq.html'"></div>
                        </div>

                        Le détail des pricings est le suivant :
                        <br/><br/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Tarif</th>
                                <th>Nombre de places</th>
                                <th>Prix</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Etudiant</td>
                                <td>32</td>
                                <td>8 €</td>
                            </tr>
                            <tr>
                                <td>Early Bird</td>
                                <td>128</td>
                                <td>32 €</td>
                            </tr>
                            <tr>
                                <td>Normal</td>
                                <td>~256</td>
                                <td>64 €</td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        Pour tous les participants, il ne sera pas nécessaire pour vous d'imprimer les billets.
                        <br/>
                        Pour les étudiants, une carte d'étudiant sera demandée à l'entrée de la conférence.
                        <br/>
                        <br/>
                        <b>A noter</b> que les billets ne seront réservés qu'après paiement :
                        <ul>
                            <li>Via site de ticketing, par CB</li>
                            <li>Après emission de facture, par virement bancaire (avec supplement de 50€ pour frais de dossier)</li>
                        </ul>
                    </div>

                    <br/>

                    <p class="faq-question">> Comment puis-je transférer une place achetée ?</p>
                    <div class="faq-answer">
                        Il vous est possible d'effectuer une demande de transfert de place en renseignant <a target="_blank" href="https://docs.google.com/forms/d/1frw60cRyDT6phIYwy-uZF-jyCr3GDJav_PfXaKGvzYA/viewform">ce formulaire</a>.
                    </div>

                    <br/>

                    <p class="faq-question">> Comment puis-je me rendre à la conférence ?</p>
                    <div class="faq-answer">
                        La conférence se déroulera à <b>l'ENSEIRB-MATMECA</b> qui se situe sur le campus universitaire de Talence.
                        <br/>
                        Voici un plan d'accès :
                        <div class="row">&nbsp;</div>
                        <img class="img-responsive" src="images/ENSEIRB - Venue.png" alt="ENSEIRB - Venue"/>
                    </div>

                </div>
            </div>

            <div class="row col-xs-12">
                <h2 id="jury" class="faq-section-title">Jury</h2>

                <div class="faq-section-summary">
                   Nous avons, comme pour l'édition précédente, sollicité les membres des différentes communautés techniques bordelaises pour constituer le jury bdx.io.
                   Le rôle des membres du jury est de selectionner les talks qui seront présentés lors de la prochaine édition.
                </div>
                <div class="faq-section-content">
                    <p class="faq-question">> Quelles sont les règles de participation ?</p>
                    <div class="faq-answer">

            			Pour être membre du jury, il faut remplir les conditions suivantes :
            			<ul>
            			<li>Avoir voté pour au moins 85% des conférences (sur le site du CFP)</li>
            			<li>Ne pas avoir proposé de sujet à la conférence.</li>
            			<li>Etre présent à la réunion du choix des talks.</li>
            			</ul>
            			Vous aurez droit à :
            			<ul>
            			<li>1 place offerte à la conférence.</li>
            			<li>1 place offerte au repas des speakers.</li>
            			</ul>
                    </div>

                    <br/>
                    <p class="faq-question">> Quel est le processus de selection ?</p>
                    <div class="faq-answer">

                        Les membres du jury sont tous membres des différentes communautés techniques bordelaises.
                        Ils ont pour mission de selectionner, au travers de leurs votes sur le CFP, les talks qui seront au programme de l'édition 2015 de bdx.io.
                        <br/><br/>
                        Enfin, dans l'optique d'équilibrer le contenu de la conférence, une dernière selection sera réalisée avant création définitive du programme.

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
