<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="theme1" id="livestream">
    <div class="container">

        <div class="row col-xs-12">
            <h1 class="title">BDX I/O en livestream !</h1>
            <hr>

            <div style="margin-bottom: 1em;">
                Rendez-vous sur cette page le 16 octobre 2015 pour suivre l'intégralité de BDX I/O gratuitement en
                livestream.
            </div>
            <div style="margin-bottom: 2em;">
                <div title="Add to Calendar" class="addthisevent">
                    Ajouter au calendrier
                    <span class="start">16/10/2015 09:00</span>
                    <span class="end">16/10/2015 19:00</span>
                    <span class="timezone">Europe/Paris</span>
                    <span class="title">BDX I/O Livestream</span>
                    <span class="description">Rendez-vous le 16 octobre pour suivre le livestream des conférences de BDX I/O<br/><br/>https://www.youtube.com/channel/UCA7pEYY0BlgCdpbnjhCDezQ</span>
                    <span class="location">Bordeaux ENSEIRB</span>
                    <span class="organizer">bdx.io</span>
                    <span class="organizer_email">team@bdx.io</span>
                    <span class="all_day_event">false</span>
                    <span class="date_format">DD/MM/YYYY</span>
                    <span class="alarm_reminder">900</span>
                </div>
            </div>

            <div style="max-width: 560px;">
                <div class="video-container">
                    <iframe width="800" height="450" frameborder="0"
                            src="https://www.youtube.com/embed/q9KtMp6P7QY?autoplay=1" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>
</div>
