// ~ FOOTER
// ====================================================================== >

.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $dark-grey;


  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 60%;
    width: 35%;
    background: url("../../images/png/bg-footer-left.png") no-repeat;;
    background-size: 100%;
    background-position: bottom;
  }
  
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    height: 60%;
    width: 35%;
    background: url("../../images/png/bg-footer-right.png") no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .sign-newsletter {
    .label {
      margin: 0;
    }
  }

  .input-newsletter {
    width: 100%;
    height: 38px;
    padding-left: 10px;
    background-color: transparent;
    border: 2px solid $medium-grey;
    transition: 240ms;

    &:focus {
      transition: 240ms;
      border-color: white;
      color: white;
    }
  }

  .footer-list-networks {
    text-align: center;
    .footer-item-networks {
      display: inline-block;
      margin-right: 10px;
      font-size: 34px;

      a {
        color: $medium-grey;
        transition: 240ms;

        &:hover, &:focus {
          transition: 240ms;
          color: white;
        }
      }
    }
  }

  .footer-list-sponsors {
    padding-top: 20px;
    padding-bottom: 20px;

    .footer-item-sponsors {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      width: 200px;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      cursor: pointer;

      &.capgemini {
        transition: 240ms;
        background: url("../../images/png/logos-footer/capgemini.png");
        background-size: 100%;

        &:hover, &:focus {
          transition: 240ms;
          background: url("../../images/png/logos-footer/capgemini-hover.png");
          background-size: 100%;
        }
      }

      &.doyoudreamup {
        transition: 240ms;
        background: url("../../images/png/logos-footer/doyodreamup.png");
        background-size: 50%;

        &:hover, &:focus {
          transition: 240ms;
          background: url("../../images/png/logos-footer/doyodreamup-hover.png");
          background-size: 50%;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}