// ~ MEDIA PRINT
// ====================================================================== >


@media print {

  .page-break {
    page-break-after: always;
  }

  .text-primary { color: $primary !important;}
  .text-secondary { color: $secondary !important;}

  .bdx-server {
    color: $violet !important;
  }
  .bdx-design {
    color: $green !important;
  }
  .bdx-settings {
    color: $bronze !important;
  }
  .bdx-networks {
    color: $primary !important;
  }
  .bdx-phone {
    color: $gold !important;
  }
  .bdx-tools {
    color: $secondary !important;
  }

  .cat-1 { background-color: lighten(#b89ff4, 20%) !important;}
  .cat-2 { background-color: lighten(#f13f42, 35%) !important;}
  .cat-3 { background-color: lighten(#72c9d3, 35%) !important;}
  .cat-4 { background-color: lighten(#f59600, 50%) !important;}

  thead {
    display: table-header-group;
  }

  .general-container {
    padding-top: 0 !important;
  }

  .break {
    .slot-content {
      display: none;
    }
  }

  .print {
    -webkit-print-color-adjust: exact;

    header, footer {
      display: none;
    }

    .cfp-program-print {

      .title {
        max-width: 90%;
      }

      .slot-print {
        background-color: darken($secondary, 5%) !important;
        color: white !important;
        -webkit-print-color-adjust: exact;
      }
      .room-print {
        background-color: $secondary !important;
        color: white !important;
        text-align: center;
      }

      td {
        position: relative;
        font-size: 7px !important;
        color: black;
        padding: 0px 5px;
      }

      .name-speaker-print {
        font-weight: bold;
      }

      .name-track-print {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 14px;
      }

      .time-slot-print {
        background-color: $primary !important;
        color: white !important;
        width: 50px;
        -webkit-print-color-adjust: exact;
      }
    }
  }

  .container-legend {
    white-space: nowrap;
    margin-top: 10px;
  }

  .legend-list, .legend-tracks {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .legend-list {

    .cat-1 {background: transparent !important; color: #b89ff4 !important; .bullet-type {background-color: #b89ff4 !important;}}
    .cat-2 {background: transparent !important; color: #f13f42 !important; .bullet-type {background-color: #f13f42 !important;}}
    .cat-3 {background: transparent !important; color: #72c9d3 !important; .bullet-type {background-color: #72c9d3 !important;}}
    .cat-4 {background: transparent !important; color: #f59600 !important; .bullet-type {background-color: #f59600 !important;}}

    .bullet-type {
      display: inline-block;
      vertical-align: middle;
      height: 24px;
      width: 24px;
      margin-right: 5px;
      border-radius: 100%;
    }
  }

  .legend-tracks {
    white-space: normal;
    font-size: 12px;

    li {
      &:before {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        color: $secondary !important;
        font-size: 18px;
      }
    }
  }

  .print-lightning-talks {
    padding-top: 30px;

    ul {
      line-height: 1.2 !important;
    }
  }
}

.logo-event-print {
  display: block;
  height: 100px;
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  background: url("../../images/png/logo-bdxio.png") no-repeat !important;
  background-size: 100% !important;
  background-position: top !important;
}