// ~ PROGRAM
// ====================================================================== >

// ============================= //
// General Skin Program Schedule //
// ============================= //

.cfp-program {
  .column { display:inline;}
}

// Filter Bar Program

.track-selector, .day-selector {
  padding-top: 10px;
  cursor: pointer;
}

.container-track-selector {
  display: inline-block;

  .track-selector {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid $light-grey;
    color: $light-grey;
    font-weight: bold;

    &.select {
      background: linear-gradient(219deg, #cf1633, #027d8e);
      background-size: 400% 400%;
      color: white;
      border: none;
      -webkit-animation: gradient-animation 7s ease infinite;
      -moz-animation: gradient-animation 7s ease infinite;
      animation: gradient-animation 7s ease infinite;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

// ==== Table Program

.container-table-program {
  display: inline-table;
  width: 100%;
  margin-top: 30px;
  padding: 0 30px;

  .large-item {
    display: inline-block;
    width: 14.28%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }


  // === Header  Table Program

  .program-header {
    background-color: $secondary;
    color: white;

    .room {
      height: 100%;

      .item-room {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        padding: 10px;
        border-right: 2px solid darken($secondary, 3%);
      }
    }
  }

  // === Table Time and Day

  .day, .time {
    display: inline-table;
    text-align: center;
    height: 100%;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  .day {
    height: 100%;
    width: 100%;
    background-color: darken($secondary, 4%);
  }

  .time-container {
    background-color: $primary;
    border-bottom: 2px solid darken($primary, 5%);

    .time {
      width: 100%;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 48%;
        width: 100%;
        background-position: center center;
        background-size: cover !important;
        background: url("../../images/png/bg-footer-left.png") no-repeat;
      }

      b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;

        i {
          float: left;
          margin-right: 0px;
          padding-top: 5px;
          padding-left: 10px;
        }
      }
    }
  }

  // === Table Prez

  .header-prez {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: $white-grey;
    height: 35px;

    .container-avatar-speaker {
      display: inline-block;
      padding: 0;
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;

      .avatar-speaker {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 5px;
        background-color: $light-grey;
        border-radius: 100%;
        background-size: 100%;
        background-position: center center;

        &.no-avatar {
          background: url("../../images/png/no-avatar.png");
        }
      }
    }
  }

  // Content Prez

  .container-name-speaker {
    padding: 0;
    text-align: center;

    li {
      display: block;
      list-style: none;
      font-weight: bold;
      color: $primary;
    }
  }

  .prez-container {
    height: 100%;
    border-bottom: 1px solid $white-grey;

    .prez {
      position: relative;
      height: 100%;
      padding: 60px 10px 60px 10px;
      border-collapse: collapse;
      text-align: center;
      border-top: 1px solid $white-grey;
      border-left: 1px solid $white-grey;
      border-right: 1px solid $white-grey;

      @media (max-width: 768px) {
        height: auto;
      }

      .prez-title-track {
        i {
          display: block;
          font-size: 34px;
        }
      }
    }
  }

  // Footer Prez

  .footer-prez {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 32px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;

    &.cat-1 { background-color: #b89ff4;}
    &.cat-2 { background-color: #f13f42;}
    &.cat-3 { background-color: #72c9d3;}
    &.cat-4 { background-color: #f59600;}
  }
}

// ==== Utils Program

.col-height {
  display: table-cell;
  height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media (max-width: 768px) {
  .empty-slot {
    display: none !important;
  }
}

// ============================= //
// General Skin Program Speakers //
// ============================= //

.title-track {
  font-weight: bold;

  i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.program-list-speaker {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  padding: 0;

  li {
    list-style: none;
  }

  .item-container {
    padding: 10px 20px 10px 0;

    .item-content  {
      position: relative;
      height: 290px;
      padding: 90px 0 50px 0;
      background-color: #f9f9f9;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      overflow: hidden;
      z-index: 790 !important;
      transition: 340ms;

      &:hover, &:focus {
        transition: 340ms;
        transform: scale(1.1);
      }

      .content-partner {
        background-color: transparent !important;

        // === Table Prez

        .header-prez {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          background-size: 100% 100%;
          height: 35px;

          &.cat-1 { background-color: #b89ff4;}
          &.cat-2 { background-color: #f13f42;}
          &.cat-3 { background-color: #72c9d3;}
          &.cat-4 { background-color: #f59600;}

          .container-avatar-speaker {
            display: inline-block;
            padding: 0;
            position: absolute;
            left: 0;
            top: 10px;
            width: 100%;
            text-align: center;

            .avatar-speaker {
              display: inline-block;
              height: 70px;
              width: 70px;
              margin-right: 5px;
              background-color: $light-grey;
              border-radius: 100%;
              background-size: 100%;
              background-position: center center;

              &.no-avatar {
                background: url("../../images/png/no-avatar.png");
              }
            }
          }
        }

        // Content

        .name-speaker {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          text-align: center;
          color: $primary;
          font-weight: bold;
        }

        .desc-talk {
          padding: 0 20px;
          text-align: center;
        }

        // Footer Prez

        .footer-prez {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%,-50%);
          display: block;
          width: auto;
          margin: 0 auto;
          padding: 0 20px;
          height: 32px;
          border-radius: 50px;
          color: white;
          text-align: center;
          padding-top: 5px;
          font-weight: bold;

          &.cat-1 { background-color: #b89ff4;}
          &.cat-2 { background-color: #f13f42;}
          &.cat-3 { background-color: #72c9d3;}
          &.cat-4 { background-color: #f59600;}
        }
      }
    }
  }
}