// ~ PROGRAM
// ====================================================================== >

.cfp-program {

  .track-selector, .day-selector {
    padding-top: 10px;
    cursor: pointer;
  }

  .column {
    display:inline;
  }
}