// ~ TALK ASSETS
// ====================================================================== >

.talk-asset {
  cursor: pointer;
  i {
    font-size: 18px;
  }

  .livestream { color: #337ab7; }
  .videocapture { color: $gold; }
}