// Animations
// --------------------------

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */

@keyframes slide-right {
  0% {
    transform: translateX(0);
    opacity: 0;
  }


  50% {
    transform: translateX(10px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-down
 * ----------------------------------------
 */

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/**
 * ----------------------------------------
 * animation blink
 * ----------------------------------------
 */

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}
