// -----------------------------------------------------------------------------
// This file contains all styles related to the BUTTON base.
// -----------------------------------------------------------------------------
// -- General
.button {
    background: transparent !important;
    border: 2px solid !important;

    &.primary {
        border-color: $primary !important;
        color: $primary !important; 
        text-transform: uppercase;
        
        &:hover {
            background : $primary !important;
            color: white !important;
        }

        &.disabled {
            &:hover {
                background: inherit !important;
                color: $primary !important; 
            }
        }
    }

    &.secondary {
        background: transparent;
        border-color: $red !important;
        color: $red !important; 
        text-transform: none !important;
        
        &:hover {
            background : $red !important;
            color: white !important;
        }
        &.disabled {
            &:hover {
                background: inherit !important;
                color: $red !important; 
            }
        }
    }

    &.white {
        background: transparent;
        border-color: $white !important;
        color: $white !important; 
        text-transform: none !important;
        
        &:hover {
            background : $white !important;
            color: $primary !important;
        }

        &.disabled {
            &:hover {
                background: inherit !important;
                color: $white !important; 
            }
        }
    }
}