// -----------------------------------------------------------------------------
// This file contains all styles related to the BUTTON base.
// -----------------------------------------------------------------------------
// -- General
.button {
    &.primary {
        background: transparent;
        border: 1px solid $primary !important;
        color: $primary !important; 
        text-transform: uppercase;
        
        &:hover {
            background : $primary;
            color: white !important;
        }
    }

    &.secondary {
        background: transparent;
        border: 2px solid $red !important;
        color: $red !important; 
        text-transform: none !important;
        
        &:hover {
            background : $red;
            color: white !important;
        }
    }

    &.white {
        background: transparent;
        border: 2px solid $white !important;
        color: $white !important; 
        text-transform: none !important;
        
        &:hover {
            background : $white;
            color: $primary !important;
        }
    }
}