// -----------------------------------------------------------------------------
// This file contains all styles related to the INPUT base.
// -----------------------------------------------------------------------------
// -- General
[type='email'],
[type='text'] {
  background: transparent;
  border: 2px solid $white;
  color: $white;
  margin: 0;

  &:focus {
    background: transparent;
    border: 2px solid;
  }
}

//- Input

input {
  &.required {
    background-image: url("/img/png/asterisk.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: rem-calc(20px);

    &:focus {
      background-image: url("/img/png/asterisk-focus.png");
    }
  }
}