// -----------------------------------------------------------------------------
// This file contains all styles related to the INPUT base.
// -----------------------------------------------------------------------------
// -- General
[type='email'],
[type='text'] {
    background: transparent;
    border: 2px solid $white;
    color: $white;
    margin: 0;

    &:focus {
        background: transparent;
        border: 2px solid;
    }
}