// -----------------------------------------------------------------------------
// This file contains all styles related to the TYPOGRAPHIE base.
// -----------------------------------------------------------------------------

h6 {
    font-size: 14px;
}

.sectionTitle {
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px rgba(43, 46, 67, 0.5);
    font-weight: bold; 
    margin-top: 80px;
    margin-bottom: 24px;
}

.sectionTitleBg {
    text-transform: uppercase;
    color: $white;
    font-weight: bold; 
    margin-top: 80px;
    margin-bottom: 24px;
    padding-top: 24px;
}

.sectionSubtitleBg {
    color: $white;
    margin-bottom: 24px;
}