// -----------------------------------------------------------------------------
// This file contains all styles related to the TYPOGRAPHIE base.
// -----------------------------------------------------------------------------

h6 {
    font-size: 14px;
}

.sectionTitle {
    text-transform: uppercase;
    color: black;
    font-weight: bold; 
    margin-top: 64px;
}

.sectionTitleBg {
    text-transform: uppercase;
    color: $white;
    font-weight: bold; 
    margin-top: 64px;
    padding-top: 16px;
}

.sectionSubtitleBg {
    color: $white;
    margin-bottom: 16px;
}