.faq-section-title {
    padding-bottom: 20px;
}

.faq-section-summary {
    text-align: right;
    font-style: italic;
    padding-bottom: 20px;
}

.faq-section-content {

}

.faq-question {
    text-decoration: underline;
}

.faq-answer {
    padding-left: 50px;
    border-left: thick solid #ff0000;
}
