/* Layout posts */

.content-img-new {
    max-width: 295px;
    max-height: 160px;
}

.post {
    height: 150px;
    margin: 15px;
}

.post h2 {
    width: 100%;
    color: white;
}

.post p {
  width: 100%;
  color: white;
  font-size: 12px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-new {
    font-weight: bold;
    color: #292929;
}

.date-new {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #292929;
}

.btn-new {
    float: right;
    height: 25px;
    width: auto;
    background: red;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 300ms;
}

.btn-new:hover {
    transition: 300ms;
    background: #222222;
}

.btn-new:hover i {
    transition: 300ms;
    margin-right: 10px;
}
