//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
//@import 'sass-bootstrap/vendor/assets/stylesheets/bootstrap/bootstrap';
@import "_variables";
@import "_mixins";

@import "_std-overrides";
@import "_bootstrap-overrides";
@import "_css-flip";
@import "_animations";
@import "_styles";
@import "_news";
@import "_faq";
@import "_ticketing";

@import 'slick.js/slick/slick';
@import 'slick.js/slick/slick-theme';
